/**/
.w1000 { width: 1000px; min-width: 1000px; margin-left: auto; margin-right: auto;}
.headPrompt { line-height: 14px; margin: 20px 0; color: #787878; text-align: left;}
.headSwitching { height: 35px; margin-bottom: 34px;}
.headSwitching a { float: left; height: 35px; line-height: 35px; text-align: center; cursor: default;}
.headSwitching .afStepOne { width: 490px; margin-right: 10px; background: url(../images/addFile_01-01.png) no-repeat;}
.headSwitching .afStepTwo { width: 500px; background: url(../images/addFile_01-02.png) no-repeat;}
.headSwitching .afStepOne.twoCurrent { cursor: pointer;}
.headSwitching .afStepTwo.twoIcon { background: url(../images/addFile_01-021.png) no-repeat;}

/*=========================================== 黄金分割线 ===========================================*/
.afItem { margin-bottom: 34px; padding: 0 60px;}
.itTop { height: 20px; margin-bottom: 40px;}
.itTop .topLeft, .itTop span, .itTop em { float: left;}
.itTop .topLeft { width: 8px; height: 15px; margin-top: 5px; margin-right: 10px; background: #53b567;}
.itTop span { line-height: 16px; margin-top: 4px; margin-right: 14px; font-size: 16px; color: #3b3a48; text-align: left;}
.itTop em { width: 784px; margin-top: 11px; border-top: 1px solid #efefef;}
.afRow { min-height: 30px; margin-bottom: 20px;}
.afRowLeft { float: left; width: 28.1%; height: 30px; line-height: 30px; margin-right: 19px; color: #333; text-align: right;}
.afRowLeft i { margin-right: 4px; color: #d00202;}
.afRowRight { float: left; width: 69.7%; line-height: 30px; text-align: left;}
.afInp { display: block; width: 468px; height: 28px; line-height: 28px; color: #494949; text-align: left; text-indent: 10px; border: 1px solid #ccc; background: #fff;}
.afTxt { display: block; width: 448px; height: 78px; padding: 10px; color: #555; border: 1px solid #ccc; background: #fff; resize: none;}
.afInp:focus, .afTxt:focus { border-color: #53b567;}
.afUnreadable { width: 470px; height: 30px; line-height: 30px; border: none; background: #efefef;}
.afRowRight.sex label { float: left;  height: 30px; line-height: 30px; margin-right: 50px; color: #494949; cursor: pointer;}
.afRowRight.sex .afman, .afRowRight.sex .afwoman { width: 13px; height: 12px; margin-top: -2px; vertical-align: middle;}
.afRowRight.sex label span { margin-left: 9px;}
.afTime { display: block; width: 138px; height: 28px; line-height: 28px; color: #a6a7a7; text-indent: 20px; border: 1px solid #ccc; background: #fff url(../images/datePicker.png) no-repeat 110px center;}
.afTime:focus { border-color: #53b567; background: #fff url(../images/datePicker_click.png) no-repeat 110px center;}
.afRowRight.maritalStatus label { float: left;  height: 30px; line-height: 30px; margin-right: 33px; color: #494949; cursor: pointer;}
.afRowRight.maritalStatus .afUnmarried, .afRowRight.maritalStatus .afMarried, .afRowRight.maritalStatus .afDivorced { width: 13px; height: 12px; margin-top: -2px; vertical-align: middle;}
.afRowRight.maritalStatus label span { margin-left: 9px;}
.selectbox {margin-right: 20px;font-size:12px;height:30px;line-height:30px;position:relative;width:470px;}
.selectbox dl {border:1px solid #ccc;color:#555;margin:0;position:absolute;width: 468px;}
.selectbox dl.on {border:1px solid #ccc;overflow-y: auto;overflow-x: hidden;max-height: 150px;width: calc(100% + 10px);background: #fff;}
.selectbox dl dt {cursor:pointer;overflow:hidden;padding-left:10px;border-bottom: none;background: #fff;}
.selectbox dl dt.on {background:#e6e6e6 none repeat scroll 0 0;border-bottom:1px solid #ccc;}
.selectbox dl dd {background:#fff none repeat scroll 0 0;border-bottom:1px solid #ccc;cursor:pointer;margin:0;padding:0 10px;position:relative;z-index:5;}
.selectbox dl dd.on{border-bottom:1px solid #ccc;}
.selectbox dl dd:hover{line-height:30px;background:#eaedf1 none repeat scroll 0 0;color:#555;}
.selectbox dl dd:last-child { border-bottom: none;}
.selectbox .arrow {background:transparent url(../images/Descending.png) no-repeat scroll 8px 12px;height:30px;width:30px;background-position-x: 8px;background-position-y: 12px;}
.selectbox .arrow_on {background:transparent url(../images/Ascending.png) no-repeat scroll 8px 12px;background-position-x: 8px;background-position-y: 12px;}
.select_title {overflow: hidden;width: calc(100% - 30px);white-space: nowrap;word-break: keep-all;text-overflow: ellipsis;}
.fxDone { display: none;}
.zindex4 { z-index: 4;}
.afNext, .afPrev, .afSubmit { display: block; width: 100px; height: 30px; line-height: 30px; margin-top: 20px; text-align: center;}
.afNext, .afSubmit { color: #fff; background: #53b567;}
.afPrev { margin-right: 20px; color: #333; background: #dbdbdb;}
.afSubmit { border: none;}
.afNone { line-height: 28px; margin-left: 10px; font-size: 12px; color: #d32929;}
.l { float: left;}
