.wrapBox { padding: 0 20px; background: #fff;}
.proCont { width: 1130px; margin-bottom: 40px;}
.proContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.proContTop .topTit { line-height: 14px; font-size: 0; cursor: default;}
.proContTop .topTit span { float: left; display: block; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.proContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.proContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}
.title{padding:0 0 20px 0;width:100%;float:left;color:#333333;}
.red{color:#f00;}
.tab{height:33px;float:left;width:100%;border:1px solid #DEDEDE;width:1047px}
.tab div{background:#EFEFEF;width:261px;float:left;height:33px;line-height:33px;text-align:center;border-right:1px solid #DEDEDE;cursor:pointer;}
.tab div:last-child{border:none;}
.tab div.cur{background:#54B568;color:#fff;}
.addContMiddle { background: #fff;float:left;}
.content{width:100%;float:left;display:none;}
.content.active{display:block;}
.content-child{width:100%;float:left;padding:10px 0 10px 0;border-bottom:1px solid #EFEFEF;}
.content .content-child:last-child{border-bottom:none;}
.contenCol{width:349px;float:left;height:40px;line-height:40px;}
.contenColLeft{width:120px;text-align:right;float:left;}
.contenColRight{float:left;text-align:left;width:229px;overflow:hidden;}
.contenColLeft i{color:#f00;}
.w100{width:100%;}
.w50{width:50%;}
.auto{width:auto;}
.colWidth2{width:698px;}
.remark{width:900px;background:#F8F8F8;min-height:200px;padding:5px;}
.hauto{height:auto;}
.listRight{float: left;margin-top: 22px;width: 100%;}
.list-l{float: left;}
.list-r{float: left;margin-left: 20px;border-left: 1px solid #ccc;padding-bottom: 30px;}
.listRight li{min-height: 164px;}
.listRight li.active i{background-position: 0 -12px;}
.listRight li.active .wrBox2{border-color: #53b567;}
.listRight li.active .wrTriangle{background-position: 0 -40px;}
.listRight li.active .wrBox2 .wrBox2Tit{color: #53b567;}
.listRight li.active .wrBox2 .wrBox2Cont{background: #53b567;}
.listRight li.active .wrBox2 .wrReason{color: #fff;}
.backTitle{padding: 8px 0;}
.backCon{height: auto;min-height: 70px;}
.listRight li .backTime{border-top: 1px solid #ccc;padding: 15px 0;}
.listRight li.active .backTime{border-top: 1px solid #fff;padding: 15px 0;}
.list-l img{width: 80px;height: 80px;border-radius: 50%;position: relative;top: -35px;}
.listRight ul{margin-top: 38px;padding-bottom: 8px;}
.listRight li{float: left;width: 100%;}
.listRight li i{float: left;width: 18px;height: 11px;margin-left: -10px;background: url(../images/adWithReview_01-01.png) no-repeat;background-position: 0 0;}
.listRight .wrBox2{position: relative;top: -14px;left: 22px;float: left;width: 768px;min-height: 162px;border: 1px solid #ccc;}
.listRight .wrBox2 .wrTriangle{position: absolute;top: 10px;left: -16px;width: 18px;height: 17px;background: url(../images/adWithReview_01-01.png) no-repeat;background-position: 0 -23px;}
.listRight .wrBox2 .wrBox2Tit{height: 40px;line-height: 40px;color: #333;text-indent: 26px;}
.wrBox2Tit div{float: left;}
.listRight .wrBox2 .wrBox2Cont{padding-right: 25px;background: #efefef;}
.wrReason{padding-top: 7px;padding-left: 26px;color: #333;padding-bottom:15px;}
.wrBox2Cont .wrReason p{line-height: 14px;}
.h20{height: 20px;}
.h162{height: 162px;float: left;}
.w50{width:50px!important;}
.w80{width:80px!important;}
.w120{width:120px!important;}
.w300{width:300px!important;}
.w310{width:310px!important;}
.w380{width:380px!important;}
.w563{width:558px!important;}
.b-radio-wrapper {display: -moz-inline-stack;display: inline-block;zoom:1;margin-right:20px;cursor:pointer;}
.b-radio-wrapper label{cursor:pointer;}
a.b-radio {display: inline-block; background: url('../images/back-radio.png') no-repeat 0px 0px;vertical-align: middle;height: 14px;width: 14px;}
a.b-radio-checked {background-position: -14px 0px;}
.l-row {height: 20px;margin: 10px 0;line-height: 20px;}
.hidden {display: none;}
.mr0{margin-right:0!important;}
.nsSubmit {
  display: block;
  width: 94px;
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  border: none;
  background: #53b567;
  cursor: pointer;
}
.backrecord{width:900px;min-height:100px;padding:5px;}
.reason{display:none;}
.listRight li .backTitle i{border:none;background:none;width:auto;}
