@charset "utf-8";
/**/
.wrapBox { padding: 0 20px; background: #fff; overflow: hidden;}
.proCont { width: 1130px; margin-bottom: 40px;}
.proContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.proContTop .topTit { line-height: 14px; font-size: 0; cursor: default;}
.proContTop .topTit span { float: left; display: block; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.proContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.proContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .settingPlan, .topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .settingPlan:hover, .topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}
.topRight .settingPlan { margin-right: 20px;}

.improContMiddle { width: 100%; margin: 40px auto;}
.proRow { height: 30px; margin-bottom: 20px;}
.imLeft, .imRight { line-height: 30px;}
.imLeft { width: 120px; height: 30px;  margin-right: 20px; color: #333; text-align: right;}
.imLeft i { margin-right: 4px; color: #d00202;}
.imRight .imSelect { width: 468px; height: 35px;/* line-height: 35px;*/ font-size: 12px; color: #555; text-indent: 10px; border: 1px solid #ccc; background: #fff;}
.imRight .imSelect:focus { border-color: #53b567;}
.imUploadBox { position: relative; width: 100px;}
.imUploadBox span { position: absolute; top: 0; left: 0; display: block; width: 98px; height: 28px; line-height: 28px; font-size: 12px; color: #555; text-align: center; border: 1px solid #ccc; background: #f7f7f7; z-index: 1;}
.imUploadBox .imUploadBtn { position: absolute; top: 0; left: 0; width: 100%; height: 30px; opacity: 0; filter: alpha(opacity='0'); z-index: 2;}
.pcUploadBox, .mobileUploadBox { width: 100%;}
.pcUploadBox .pcUploadBtn, .mobileUploadBox .mbUploadBtn { width: 100px; height: 30px; line-height: 30px; font-size: 12px; color: #555; text-align: center; border: 1px solid #ccc; background: #f7f7f7; cursor: pointer;}
.imRight .imSubmit { display: block; width: 94px; height: 30px; line-height: 30px; margin-top: 20px; color: #fff; text-align: center; border: 1px solid #53b567; background: #53b567; cursor: pointer;}

/*============================================ 黄金分割线 ============================================*/
.chooseTemplate { position: relative; display: none; background: #fff;}
.temTop, .temCont { margin: 0 20px;}
.temTop { height: 49px; line-height: 49px; font-size: 16px; border-bottom: 1px solid #ccc;}
.temTop span { float: left; color: #333;}
.temTop .imClose { float: right; width: 50px; height: 50px; background: url(../images/promotion_list-04.png) no-repeat center center; cursor: pointer;}
.temSearch { margin: 15px 0; font-size: 0;}
.temSearch span, .temSearch select, .temSearch .temSearchBtn { height: 30px; line-height: 30px; font-size: 14px;}
.temSearch span, .temSearch select { color: #343434;}
.temSearch span { display: inline-block;}
.temSearch select { width: 200px; border: 1px solid #ccc;}
.temSearch .temSearchBtn { margin-left: 20px; padding: 0 20px; color: #fff; border: none; background: #53b567; cursor: pointer;}
.temMiddle { margin-bottom: 15px; border: 1px solid #ccc;}
.temMiddle .titBox { height: 40px; line-height: 40px; background: #f5f6fa;}
.temMiddle .titBox span { float: left; padding: 0 10px; text-align: center;}
.temMiddle .titBox span.optionsSp { width: 78px;}
.temMiddle .titBox span.picSp { width: 180px;}
.temMiddle .titBox span.desSp { width: 440px;}
.contBox { max-height: 350px; overflow: auto;}
.contBox .temRows { height: auto; border-top: 1px solid #ccc; overflow: hidden;}
.contBox .temRows:hover { background: #f5f6fa;}
.contBox .temRows label, .contBox .temRows .picImgBox, .contBox .temRows .desBox { float: left; height: 165px;}
.contBox .temRows label { width: 120px; line-height: 165px; text-align: center; cursor: pointer;}
.contBox .temRows .picImgBox { width: 297px;}
.contBox .temRows .picImgBox .limit { width: 160px; height: 125px; padding-top: 20px; overflow: hidden;}
.contBox .temRows .picImgBox img { width: 100%;}
.contBox .temRows .desBox { width: 324px;}
.contBox .temRows .desBox p { float: left; width: 180px; margin: 0 auto;}
.contBox .temRows .desBox p.theme { height: 30px; line-height: 30px; margin: 22px 0px 0px 15px; font-size: 16px; text-align: left;}
.contBox .temRows .desBox p.time { height: 20px; line-height: 20px; margin: 5px 0px 0px 15px; font-size: 12px; text-align: left; color: #939292;width: 200px;}
.contBox .temRows .desBox p.pang { background: url(../images/promotion_list-07.png) no-repeat;}
.contBox .temRows .desBox p.conversionRate,
.contBox .temRows .desBox p.forecastingRates,
.contBox .temRows .desBox p.views {height: 15px; line-height: 15px; margin: 8px 0px 0px 15px; font-size: 12px; text-align: left; color: #c0c0c0; text-indent: 24px;}
.contBox .temRows .desBox p.conversionRate { background-position: 0 0;}
.contBox .temRows .desBox p.forecastingRates { background-position: 0 -20px;}
.contBox .temRows .desBox p.views { background-position: 0 -40px;}
.imChooseBtn { display: inline-block; height: 28px; line-height: 28px; padding: 0 20px; color: #fff; border: 1px solid #53b567; background: #53b567;}
.imChooseBtn:hover { color: #53b567; background: #fff;}

/*0908*/
.wrapBox#btWrap .proCont, .wrapBox#btListWrap .proCont {width:auto;}
.wrapBox#btWrap .proCont .imRight .imSelect {width:150px;}
