.dn { display: none;}
.mb34 { margin-bottom: 34px;}
/**/
.wrapBox { padding: 0 20px; background: #fff;}
.regionCont { width: auto; margin-bottom: 20px;}
.regionContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.regionContTop .topTit { line-height: 14px; font-size: 0; cursor: default;}
.regionContTop .topTit span { float: left; display: block; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.regionContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.regionContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .addPreferential, .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .addPreferential .return:hover { color: #fff; border-color: #53b567; background: #53b567;}

.topRight .addDiscount, .topRight .return, .topRight .refresh { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .addDiscount:hover, .topRight .return:hover, .topRight .refresh:hover { color: #fff; border-color: #53b567; background: #53b567;}
.topRight .addDiscount, .topRight .refresh {margin-right:15px;}

/*=================================== 黄金分割线 ===================================*/
.regionContMiddle { width: 100%; margin: 20px auto 40px; font-size: 12px; border: 1px solid #e1e6eb;}
.regionContMiddle dl { position: relative; min-height: 40px; border-bottom: 1px solid #e1e6eb;}
.regionContMiddle dl:last-child { border-bottom: none;}
.regionContMiddle dl:hover { background: #ebebeb;}
.regionContMiddle dl.regionTit, dl.region:hover { background: #f5f6fa;}
.regionContMiddle dt, .regionContMiddle dd { float: left; line-height: 43px; word-wrap:break-word; word-break:break-all;}
.regionContMiddle dt { font-weight: bold; color: #999;}
.regionContMiddle dd { color: #696969;}
.regionSequence span, .regionSequence .oergList { float: left;}
.oergList { display: inline-block; width: 20px; height: 43px; background: url(../images/promotion_list-01.png) no-repeat center; cursor: pointer;}
.regionContMiddle .wOne { width: 10%; padding-left: 15px; width: 5%;}
.regionContMiddle .wTwo { width: 17%;}
.regionContMiddle .wThr { width: 15%;}
.regionContMiddle .wFou { width: 30%;}
.regionContMiddle .wFiv { width: 18%; padding-right: 15px;}
.regionContMiddle .wSix { width: 7%;}
.regionContMiddle .wSev { width: 3%;}
.SequenceInp { display: block; width: 58px; height: 28px; line-height: 28px; margin: 6px 0; color: #707070; text-align: center; border: 1px solid #d8d6d6; background: #fff;}
.SequenceInp:focus { border-color: #53b567;}
.regionContMiddle .regionSelect { float: left; display: block; width: 40px; height: 40px;}
.regionContMiddle .regionSelect i { display: inline-block; width: 12px; height: 6px; margin: 20px 13px 16px 13px; background: url(../images/newSys_icon-01.png) no-repeat; background-position: 0 -60px;}
.regionContMiddle .regionSelect:hover i { background-position: 0 -70px;}
.otherOperation { position: relative; width: 0; display: none; z-index: 1;}
.triangle { position: absolute; top: 29px; left: 14px; width: 10px; height: 6px; background: url(../images/organization_01-01.png) no-repeat; z-index: 1;}
.otherIcon { position: absolute; top: 34px; left: -42px; width: 122px; font-size: 12px; border: 1px solid #53b567; border-radius: 3px; background: #fff; }
.otherIcon li {cursor: pointer;margin: auto; height: 40px; line-height: 40px; border-bottom: 1px solid #e7eaee;color: #767676;background: #fff;}
.otherIcon li:last-child { border-bottom: none;}
.otherIcon li:hover {background: #4dbe88;}
.otherIcon li span, .otherIcon li em { float: left; display: block;}
.otherIcon li span { width: 21px; margin: 11px 8px 0; vertical-align: middle; background: url(../images/promotion_list-02.png) no-repeat;}
.otherIcon li span.plan { height: 16px; background-position: 0 0;}
.otherIcon li span.view { height: 12px; margin-top: 14px; background-position: 0 -35px;}
.otherIcon li span.modify { height: 18px; background-position: 0 -62px;}
.otherIcon li span.delete { height: 16px; background-position: 0 -101px;}
.otherIcon li span.add { height: 16px; background-position: 0 -136px}
.otherIcon li span.regionalCenterIcon { height: 16px; background-position: 0 -170px;}
.otherIcon li em { font-size: 14px; color: #3b3a48;}
.otherIcon li:hover em { color: #fff;}
.otherIcon li:hover span.plan { background-position: 0 -17px;}
.otherIcon li:hover span.view { background-position: 0 -48px;}
.otherIcon li:hover span.modify { background-position: 0 -82px;}
.otherIcon li:hover span.delete { background-position: 0 -119px;}
.otherIcon li:hover span.add { background-position: 0 -153px;}
.otherIcon li:hover span.regionalCenterIcon { background-position: 0 -187px;}

/*=================================== 黄金分割线: 二级区域 ===================================*/
.secondaryZoneRow {}
.szName span { position: relative; float: left; margin-left: 77px; font-size: 12px; color: #696969; text-align: left;}
.szName span:before { position: absolute; top: 15px; left: -18px; display: block; content: ''; width: 12px; height: 14px; background: url(../images/organization_02-01.png) no-repeat;}

/*=================================== 黄金分割线: 中心区域 ===================================*/
.regionalCenter {}
.rcName span { position: relative; float: left; margin-left: 296px; font-size: 12px; color: #696969; text-align: left;}
.rcName span:before { position: absolute; top: 15px; left: -38px; display: block; content: ''; width: 33px; height: 14px; background: url(../images/organization_02-03.png) no-repeat;}

/*=================================== 黄金分割线: 收起展开btn ===================================*/
.osOperation .switchBtnShow { float: left; width: 20px; height: 20px; margin: 10px 10px 10px 70px; background: #b8b8b8; cursor: pointer;}
.osOperation .switchBtnShow i { display: block; width: 10px; height: 10px; padding: 5px; background: url(../images/organization_03-01.png) no-repeat center center;}
.osOperation .switchBtnShow:hover { background: #53b567;}
.osOperation .switchBtnShow.g53b { background: #53b567;}
.osOperation .switchBtnHide { float: left; width: 20px; height: 20px; margin: 10px 10px 10px 70px; background: #b8b8b8; cursor: pointer;}
.osOperation .switchBtnHide i { display: block; width: 10px; height: 2px; padding: 9px 5px; background: url(../images/organization_03-02.png) no-repeat center center;}
.osOperation .switchBtnHide:hover { background: #53b567;}
.osOperation .switchBtnHide.g53b { background: #53b567;}

/*=================================== 黄金分割线: 收起展开btn2 ===================================*/
.szOperation .switchBtnShow { float: left; width: 20px; height: 20px; margin: 10px 10px 10px 70px; background: #b8b8b8; cursor: pointer;}
.szOperation .switchBtnShow i { display: block; width: 10px; height: 10px; padding: 5px; background: url(../images/organization_03-01.png) no-repeat center center;}
.szOperation .switchBtnShow:hover { background: #53b567;}
.szOperation .switchBtnShow.g53b { background: #53b567;}
.szOperation .switchBtnHide { float: left; width: 20px; height: 20px; margin: 10px 10px 10px 70px; background: #b8b8b8; cursor: pointer;}
.szOperation .switchBtnHide i { display: block; width: 10px; height: 2px; padding: 9px 5px; background: url(../images/organization_03-02.png) no-repeat center center;}
.szOperation .switchBtnHide:hover { background: #53b567;}
.szOperation .switchBtnHide.g53b { background: #53b567;}

/*=================================== 黄金分割线：收起展开btn3 ===================================*/
.trOperation .switchBtnShow { float: left; width: 20px; height: 20px; margin: 10px 10px 10px 70px; background: #b8b8b8; cursor: pointer;}
.trOperation .switchBtnShow i { display: block; width: 10px; height: 10px; padding: 5px; background: url(../images/organization_03-01.png) no-repeat center center;}
.trOperation .switchBtnShow:hover { background: #53b567;}
.trOperation .switchBtnShow.g53b { background: #53b567;}
.trOperation .switchBtnHide { float: left; width: 20px; height: 20px; margin: 10px 10px 10px 70px; background: #b8b8b8; cursor: pointer;}
.trOperation .switchBtnHide i { display: block; width: 10px; height: 2px; padding: 9px 5px; background: url(../images/organization_03-02.png) no-repeat center center;}
.trOperation .switchBtnHide:hover { background: #53b567;}
.trOperation .switchBtnHide.g53b { background: #53b567;}

/*=================================== 黄金分割线：详情弹窗 ===================================*/
.desBox { position: relative; display: none; border: 8px solid #7a7a7a; background: #fff;}
.topBox, .desCont { padding: 0 20px;}
.topBox { height: 40px; line-height: 40px; color: #333; border: 1px solid #ccc;}
.topBox span { font-weight: bold;}
.topBox .desClose { float: right; width: 40px; height: 40px; background: url(../images/organization_04-01.png) no-repeat center center;}
.desCont .container { margin-top: 20px;}
.container h3 { height: 14px; line-height: 14px; margin-bottom: 20px; padding-left: 10px; font-weight: bold; color: #3b3a48; text-align: left; border-left: 8px solid #53b567;}
.container .desContBox { height: 140px; padding: 20px; background: #f9f9f9; overflow: hidden;}
.container .desContBox h4 { margin-bottom: 20px; color: #3b3a48; text-align: center;}
.container .desContBox .desContent { line-height: 24px; color: #767676; text-align: left;}
.container .desContBox p { line-height: 14px; margin-bottom: 20px; color: #3b3a48;}
.container .desContBox p span { color: #666;}

/*修改*/
.trName {text-indent:40px;}
.trName span {position:relative;margin:11px 0 0 0;}
.trName span:before {position: absolute;top: 0;left: -20px;display: block;content: '';width: 12px;height: 14px;background: url(../images/organization_02-01.png) no-repeat;}
.regionContMiddle .wFiv {padding:0;}

/*优惠弹窗*/
.preBox, .preBox2 {position:relative;width:540px;height:auto;background:#fff;}
.preBox .preCont, .preBox2 .preCont {margin:20px 20px 0;padding-bottom:30px;}
.preBox .preRows, .preBox2 .preRows {line-height:30px;margin-bottom:15px;}
.preBox .preRows span, .preBox .preRows input.preInt, .preBox .preRows select.preSelect,
.preBox2 .preRows span, .preBox2 .preRows input.preInt, .preBox2 .preRows select.preSelect {float:left;}
.preBox .preRows input.preInt, .preBox .preRows select.preSelect,
.preBox2 .preRows input.preInt, .preBox2 .preRows select.preSelect {display:block;width:358px;height:28px;line-height:28px;text-indent:10px;color:#767676;font-size:12px;border:1px solid #ccc;}
.preBox .preRows input.preInt:focus, .preBox .preRows select.preSelect:focus,
.preBox2 .preRows input.preInt:focus, .preBox2 .preRows select.preSelect:focus {border-color:#53b567;}
.preBox .preRows span, .preBox2 .preRows span {width:90px;height:30px;line-height:30px;margin-right:10px;color:#333;text-align:right;}
.preBox .preRows input.preInt, .preBox2 .preRows input.preInt {background:#fff;}
.preBox .preRows .preBtns, .preBox2 .preRows .preBtns {text-align:center;}
.preBox .preRows input.newAreaSubmit, .preBox .preRows input.preCancel,
.preBox2 .preRows input.editAreaSubmit, .preBox2 .preRows input.preCancel {width:100px;height:30px;line-height:30px;color:#fff;text-align:center;border:none;cursor:pointer;}
.preBox .preRows input.newAreaSubmit, .preBox2 .preRows input.editAreaSubmit {margin-right:20px;color:#fff;background:#53b567;}
.preBox .preRows input.newAreaSubmit:hover, .preBox2 .preRows input.editAreaSubmit:hover {background:#4da45e;}
.preBox .preRows input.preCancel, .preBox2 .preRows input.preCancel {color:#333;background:#dbdbdb;}
.preBox .preRows input.preCancel:hover, .preBox2 .preRows input.preCancel:hover {background:#c8c8c8;}
/*禁选优惠行*/
.pcUploadBox {margin-bottom:10px;text-align:left;}
.pcUploadBox.pcEdit {margin-bottom:0;}/*修改的禁选优惠行*/
.pcUploadBox .banDiscountList {padding:5px 8px;border:1px solid #ccc;color:#333;background:#fff;cursor:pointer;}
.pcUploadBox .banDiscountList:hover {color:#53b567;border-color:#53b567;}
/*禁选弹窗*/
.forbiddenBox {position:relative;width:800px;background:#fff;}
.forbiddenBox .fbCont {height:344px;margin:20px 0;padding:0 20px;overflow:auto;}
.forbiddenBox .fbCont table {width:100%;border:1px solid #e1e6eb;border-bottom:none;}
.forbiddenBox .fbCont tr {height:43px;line-height:43px;font-size:12px;}
.forbiddenBox .fbCont th, .forbiddenBox .fbCont td {text-align:left;border-bottom:1px solid #e1e6eb;}
.forbiddenBox .fbCont th, .forbiddenBox .fbCont tr:hover th {color:#999;background:#f5f6fa;} 
.forbiddenBox .fbCont th.thChoice {text-indent:10px;} 
.forbiddenBox .fbCont td {color:#696969;}
.forbiddenBox .fbCont tr:hover td {background:#ebebeb;}
.forbiddenBox .fbCont td.tdChoice {text-indent:15px;} 
.forbiddenBox .fbCont td .fbCheck {width:15px;height:15px;vertical-align:middle;}
.forbiddenBox .fbBtn {width:100px;height:30px;line-height:30px;margin:0 20px 20px;color:#fff;text-align:center;border:none;background:#53b567;cursor:pointer;}
.forbiddenBox .fbBtn:hover {background:#4da45e;}

/*0926*/
.otherIcon li a {display:block;height:40px;}
.preBox .preRows .sum p, .preBox2 .preRows .sum p {width:100%;line-height:20px;font-size:12px;color:#ff0000;text-align:left;}

/*1008*/
.indent10 {text-indent:10px;}

/*1102*/
/*日期插件层级前置*/
.gldp-default {z-index:10000 !important;}
.discount-atime, .discount-etime {float:left;display:block;width:136px;height:28px;line-height:28px;color:#a6a7a7;text-indent:10px;border:1px solid #ccc;background:#fff url(../images/datePicker.png) no-repeat 110px center;}
.discount-atime:hover, .discount-etime:hover {border-color:#53b567;background:#fff url(../images/datePicker_click.png) no-repeat 110px center;}
.pre-frequency {display:block;width:358px;height:28px;line-height:28px;text-indent:10px;color:#767676;font-size:12px;border:1px solid #ccc;}
.pre-frequency:focus {border-color:#53b567;}