/**/
.wrapBox { padding: 0 20px; background: #fff;}
.orgCont { width: 1130px; margin-bottom: 100px;}
.orgContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.orgContTop .topTit { line-height: 14px; font-size: 0; cursor: default;}
.orgContTop .topTit span { float: left; display: block; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.orgContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.orgContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .newDepartMent, .topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .newDepartMent:hover, .topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}
.topRight .newDepartMent { margin-right: 20px;}

a{color:#000;}


/*****筛选部分*****/

.p{line-height: 45px; width: calc(100% - 15px); background-color: #f5f6fa; color: #9e9e9e; padding-left: 15px; margin-top: 20px;}
.Filter{width: 100%; box-sizing: border-box; /*position: relative;*/ padding-top: 20px;}
/*.frame,.frame1{position: absolute;}*/
.Filter .frame .details{ min-height: 30px;margin-bottom: 20px;}
.Filter .frame .details>span{float: left; width:160px; line-height: 30px; text-align: right;}
.Filter .frame .details>span>i{color: #f00}
.Filter .frame .details>ul{float: left; width:950px; margin-left: 10px;}
.Filter .frame .details>ul li a{float: left; line-height: 30px; text-align: center; width: 100px; margin-right: 10px; margin-bottom: 10px;}
.Filter .frame .details>ul li a:hover{background-color: #53b567; color: #fff;}
.Filter .frame .details>ul li.on_hover a {background-color: #53b567; color: #fff;}
.Filter .frame .details select{width: 320px; height: 30px;  margin-left: 10px; margin-bottom: 20px;}
.Filter .frame .arrowFather{width: 100%;height:40px;}
.Filter .frame .arrow{width: 0; height: 0; border:20px solid transparent; border-bottom-color: #ddd; margin:0 auto; cursor: pointer;}
.Filter .frame1{overflow: hidden; margin-left: 50px; margin-right: 50px;}
.Filter .frame1 ul{overflow: hidden}
.Filter .frame1 li a{background-color: #53b567; color: #fff; float: left; line-height: 30px; padding: 2px 7px; text-align: center; margin-right: 10px; margin-bottom: 10px;}
.nsRight .nsSubmit, .nsRight2 .nsSubmit{display: block; width: 94px; height: 30px; line-height: 30px; margin-top: 20px; color: #fff; text-align: center; border: none; background: #53b567; cursor: pointer;margin-left: 170px;}
.selectbox1{margin-right: 20px; font-size: 12px; height: 30px; line-height: 30px; position: relative; width: 200px; visibility: hidden;}
.employeeStatus{width: 100px;}
.afTime{display: block; width: 100px; height: 28px; line-height: 28px; color: #a6a7a7; text-indent: 8px; border: 1px solid #ccc; background: #fff url(../images/datePicker.png) no-repeat 75px center;}
.afTime:focus{border-color: #53b567; background: #fff url(../images/datePicker_click.png) no-repeat 75px center;}
.Filter .frame .details ul.secondCustom { width:956px; height: 45px;}
.Filter .frame .details ul li.selectbox1, .Filter .frame .details ul li.selectbox1 .afTime { margin-right: 10px;}
.Filter .frame .details ul.secondCustom li.clickli a { width: 90px;}

/*=================================== 黄金分割线 ===================================*/
.select_title{ width: calc(100% - 30px); white-space: nowrap; word-break: keep-all; text-overflow: ellipsis; }
.selectbox { position:relative; width: 320px; height:30px; line-height:30px; margin-left: 10px; font-size:12px;}
.selectbox dl { position:absolute; width: 318px; color: #555; border:1px solid #ccc;}
.selectbox dl.on { max-height: 150px; width: 100%; border:1px solid #ccc; overflow-y: auto; overflow-x: hidden;}
.selectbox dl dt { padding-left:10px; cursor:pointer; overflow:hidden; border-bottom: none; background: #fff;}
.selectbox dl dt.on { border-bottom:1px solid #ccc; background: #e6e6e6 none repeat scroll 0 0;}
.selectbox dl dd{ position:relative; padding:0 10px; color: #555; border-bottom:1px solid #ebebeb;background:#fff none repeat scroll 0 0; cursor:pointer; z-index: 5;}
.selectbox dl dd:last-child { border-bottom: none;}
.selectbox dl dd.on{border-bottom:1px solid #53b567;}
.selectbox dl dd:hover{ background: #eaedf1 none repeat scroll 0 0;}
.selectbox .arrowSelect { width: 30px; height: 28px; background:transparent url(../images/Descending.png) no-repeat center center;}
.selectbox .arrowSelect_on { background:transparent url(../images/Ascending.png) no-repeat center center;}
.selectbox .ddoption { display:none; height:200px; border: medium none; overflow-y:scroll;}
.selectbox2 dl{color:#a6a7a7;border-color:#ccc;}
.selectbox2 dl dt{border-bottom:none;background:#fff;}
.selectbox2 dl dd{font-size:12px;}
.selectbox2 dl dt.on{border-bottom:1px solid #ccc;background:#fff;}
.selectbox2 dl dd:hover{ background:#eaedf1 none repeat scroll 0 0;}
.selectbox2 .arrowSelect{width:50px;background:transparent url(../images/Descending.png) no-repeat center center;}
.selectbox2 .arrowarrowSelect_on{background:transparent url(../images/Ascending.png) no-repeat center center;}
.selectbox2{width: 318px;font-size:12px;height:30px;line-height:30px;position:relative;  margin-left: 10px;}
.selectbox2 dl{border:1px solid #ccc;color:#555;margin:0;position:absolute;width:100%;}
.selectbox2 dl.on{border:1px solid #ccc;overflow-y: auto;overflow-x: hidden;max-height: 150px;width: calc(100% + 10px);}
.selectbox2 dl dt{cursor:pointer;overflow:hidden;padding-left:10px;}
.selectbox2 dl dt.on{background:#e6e6e6 none repeat scroll 0 0;border-bottom:1px solid #ccc;}
.selectbox2 dl dd{background:#fff none repeat scroll 0 0;border-bottom:1px solid #ccc;cursor:pointer;margin:0;padding:0 10px;position:relative;z-index:10;padding-left:25px;}
.selectbox2 dl dd.on{border-bottom:1px solid #ccc;}
.selectbox2 dl dd:hover{background:#eaedf1 none repeat scroll 0 0;}
.selectbox2 dl dd:last-child { border-bottom: none;}
.selectbox2 .arrowSelect {height:30px;width: 30px;}
.selectbox2 .ddoption {border:medium none;display:none;height:200px;overflow-y:scroll;}
.select_title2 {display:none;font-size:12px;font-weight:bold;width:100%;margin-left:-10px;padding-left:10px;border-bottom:1px solid #ccc;color: #696969;}
.select_title2:hover { background: #fff;}
.selectbox2 .caption{cursor:default;}
.selectbox2 .caption2 { cursor: default; background: #fff;}
.selectbox2.area .caption .select_title2:hover, .selectbox2.area .caption2:hover { background: #eaedf1;}
.selectbox2.area .caption { cursor: pointer;}
.selectbox2.area .caption2 { cursor: pointer;}
.select_title3 { display:none; font-size:12px; font-weight: bold; width:100%; margin-left:-10px; padding-left:10px; border-bottom:1px solid #ccc; color: #696969;}
.fxDone { display: none;}
.area .select_title2 { padding-left: 30px;}
.zindex4 { z-index: 4;}
.selectbox2 dl dd.allChannel { padding-left: 9px; font-weight: 700;}

.outPutUserBtn { display: block; width: 100px; height: 30px; line-height: 30px; margin: 0 auto; color: #fff; border: none; background: #53b567;}
.frame { display: block;}
.maxNum {margin-bottom: 10px; font-size: 24px; color: #555; text-align: center;}
