.clearfix:after, .clearfix:before { display: table; content: " ";}
.clearfix:after { clear: both;}
/**/
.wrapBox { padding: 0 20px; background: #fff; overflow: hidden;}
.imCont { width: 1130px; margin-bottom: 40px;}
.imContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.imContTop .topTit { line-height: 14px; font-size: 0; cursor: default;}
.imContTop .topTit span { float: left; display: block; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.imContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.proContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .newPlan, .topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .newPlan:hover, .topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}
.topRight .newPlan { margin-right: 36px;}

/*=================================== 黄金分割线 ===================================*/
/*.imMiddle { width: 100%; margin-top: 40px;}
.imRow { margin-bottom: 20px;}
.inRowLeft, .inRowRight { float: left;}
.inRowLeft { width: 12.4%; height: 30px; line-height: 30px; margin-right: 17px; color: #333; text-align: right;}
.inRowLeft i { margin-right: 5px; color: #d00202;}
.inRowRight { width: 86%; line-height: 30px; text-align: left;}
.inRowRight .pOne { font-size: 12px; color: #696969;}
.inRowRight .pOne em { display: block; line-height: 12px; margin-bottom: 10px;}
.inRowRight select { display: block; width: 360px; height: 28px; line-height: 28px; font-size: 12px; color: #555; text-indent: 10px; border: 1px solid #ccc; background: #fff;}
.inRowRight .imSubmit { display: block; width: 98px; height: 28px; line-height: 28px; margin-top: 20px; color: #fff; text-align: center; border: none; background: #53b567; cursor: pointer;}
.copywriterBox { position: relative; width: 180px; height: 30px;}
.copywriterBox .showSection, .copywriterBox .hideSection { position: absolute; top: 0; left: 0; font-size: 12px; cursor: pointer;}
.copywriterBox .showSection { width: 98px; height: 28px; line-height: 28px; color: #555; text-align: center; border: 1px solid #ccc; background: #fff; z-index: 1;}
.copywriterBox .hideSection { display: block; width: 100px; height: 30px; text-indent: -999em; z-index: 2; opacity: 0; filter: alpha(opacity='0');}
.copywriterBox span { margin-left: 111px; font-size: 12px; color: #a6a7a7;}
.copywriterBox span.notCopywriter { color: #d00202;}

.dn { display: none;}
.imLoading { position: relative; width: 584px; height: 134px; line-height: 134px; text-align: center; background: #fff;}
.imLoading .loadTips { font-size: 12px; color: #333;}*/

/*=================================== 黄金分割线 ===================================*/

.toggle{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 90px;
}

.toggle .tLeft,.toggle .tRight{
	width: 50%;
	line-height:35px;
	border: 1px solid #e1e6eb;
	box-sizing:border-box;
	float: left;
	text-align: center;
	cursor: pointer;
	background-color: #53b568;color: #fff;
}


.toggle .tLeft:hover,.toggle .tRight:hover{
	background-color: #f1f1f1;
	color: #000;
}

.down{background-color: #f1f1f1;color: #000;}
.up{background-color: #53b568;color: #fff;}


.lost{display: none}


.info{
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
	position: relative;
}

.infoLeft{
	float: left;
	position: absolute;
	bottom: 0px;

}

.infoRight{
	float: right;
	line-height: 30px;
	width: 130px;
	background-color: #53b568;
	text-align: center;
	color: #fff;
}


.atList { width: 100%; border: 1px solid #e1e6eb;}
.atList dl.setTit { background: #f5f6fa;}
.atList dl.on { background: #ebebeb;}
.atList dt, .atList dd { display: inline-block; line-height: 43px; font-size: 12px;}
.atList dt { color: #999;}
.atList dd { color: #696969; cursor: pointer;}
.atList .wOne { width: 7.6%; text-indent: 22px;}
.atList .w1 { width: 7.6%; text-indent: 22px;}
.atList .wTwo { width: 7.5%;}
.atList .w2{ width: 7.5%;}
.atList .wThr { width: 7.6%;}
.atList .w3 { width: 7.6%;}
.atList .wFou { width: 7.6%;}
.atList .w4 { width: 7.6%;}
.atList .wFiv { width: 13.1%;}
.atList .w5 { width: 13.1%;}
.atList .wSix { width: 7.6%;}
.atList .wSev { width: 7.6%;}
.atList .wEig { width: 13.1%;}
.atList .wNin { width: 16.2%;}
.atList .wTen { }
.atList .atInpCheck { width: 14px; height: 14px; vertical-align: middle;}
.atList .wEle { color: #53b567;}
.atList .setTit .wEle { color: #999;}


.lost>.atList { width: 100%; border: 1px solid #e1e6eb;}
.lost>.atList dl { font-size: 0; border-bottom: 1px solid #e1e6eb;}
.lost>.atList dl.setTit { background: #f5f6fa;}
.lost>.atList dl.on { background: #ebebeb;}
.lost>.atList dt, .atList dd { display: inline-block; line-height: 43px; font-size: 12px;}
.lost>.atList dt { color: #999;}
.lost>.atList dd { color: #696969; cursor: pointer;}
.lost>.atList .wOne { width: 6.1%; text-indent: 22px;}
.lost>.atList .wTwo { width: 7.2%;}
.lost>.atList .wThr { width: 6.5%;}
.lost>.atList .wFou { width: 6.6%;}
.lost>.atList .wFiv { width: 13%;}
.lost>.atList .wSix { width: 8.5%;}
.lost>.atList .wSev { width: 8.5%;}
.lost>.atList .wEig { width: 8.1%;}
.lost>.atList .wNin { width: 13.2%;}
.lost>.atList .wTen { width: 10.2%;}
.lost>.atList .atInpCheck { width: 14px; height: 14px; vertical-align: middle;}
.lost>.atList .wEle { color: #53b567;}
.lost>.atList .setTit .wEle { color: #999;}


.collegaPage { width: 100%; margin: 0; padding: 13px 0; border: 1px solid #e1e6eb; border-top: none; background: #f5f6fa;}

