@CHARSET "UTF-8";

.table_icon_horizontal {
	margin: 0px 0 0 0;
}

.table_icon_horizontal ul {
	overflow: hidden
}
.table_icon_horizontal li {
	float: left;
	width: 12.5%;
	display: table;
	margin: 0px;
}
.table_icon_horizontal  a, .table_icon_horizontal li span {
	display: table-cell;
	width: 99%;
	vertical-align: middle;
	color:#859ab5; 
	text-algin: center;
	font-size: 1.104em;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px; 
}

.table_icon_horizontal  li img { 
	padding-bottom: 8px;	
}
.table .table_content td {  
  padding: 0px 10px;
  height: 40px;
  width:200px;
  line-height: 40px;
  border-top: #e1e6eb 1px solid;
  text-align: left;
}