* { outline: none;}
body,html{height:100%;}
body { font: 14px/1.4 "微软雅黑", tahoma, arial, sans-serif;}
body, ul, li, a, table, tr, th, td, h2, h4, input, p { margin: 0; padding: 0;}  
ul, ol { list-style: none;}
i, em { font-style: normal; font-size: 100%;}
h2, h4 { font-size: 100%; font-weight: normal;}
a { text-decoration: none;}
input, textarea, select { font-family: "微软雅黑";}
.clearfix:after, .clearfix:before { display: table; content: " ";}
.clearfix:after { clear: both;}
/**/
.bodyBg { background: #f3f3f3;}
.sysWrap { width: 100%; overflow: hidden; }
.loginBox, .nameInp, .pwdInp, .codes { border: 1px solid #dde1e6; background: #fff;}
.nameInp, .pwdInp, .codes { height: 38px; line-height: 38px; font-size: 16px; color: #999;}
.nameInp:focus, .pwdInp:focus, .codes:focus { border-color: #53b567;}
.loginBox { width: 528px; height: 418px; margin: 173px auto 0;}
.logoBox { margin: 28px 0;}
.logoPic { width: 210px; height: 68px; margin: 28px auto; background: url(../images/newSys_login-01.png) no-repeat;}
.sysWrap .rows { position: relative;  width: 430px; margin: 0 auto; margin-bottom: 20px; overflow: hidden;}
.nameInp, .pwdInp { display: block; width: 428px; margin-left: auto; margin-right: auto; text-indent: 55px;}
.nameIcon, .pwdIcon { position: absolute; top: 10px; left: 20px; display: block; width: 16px; height: 20px; background: url(../images/newSys_login-02.png) no-repeat;}
.nameIcon { background-position: 0 0;}
.nameInp:focus + i { background-position: 0 -25px;}
.pwdIcon { background-position: 0 -130px;}
.pwdInp:focus + i { background-position: 0 -155px;}
.codes { float: left; width: 178px; margin-right: 20px; text-indent: 20px;}
.codesBox { width: auto; height: 40px; line-height: 40px;}
.codesBox .codesCont { float: left; margin-right: 10px; cursor: pointer;}
.codesBox .codesCont img { display: block; width: 100px; height: 40px;}
.codesBox span { float: left; font-size: 12px; color: #53b567;}
.loginSubmit { display: block; width: 100%; height: 40px; line-height: 40px; font-size: 18px; color: #fff; text-align: center; border: none; background: #53b567;}
.versionNumber { width: 100%; line-height: 16px; margin-top: 5px; font-size: 16px; color: #999; text-align: center;}

/*激活*/
.activationBox, .activationCodes, .aboxRight, .actualNameInp { background: #fff;}
.activationCodes, .actualNameInp { display: block; height: 38px; line-height: 38px; font-size: 16px; color: #999; text-indent: 55px; border: 1px solid #e9edf3;}
.activationIcon, .actualNameIcon { position: absolute; top: 10px; left: 20px; display: block; width: 16px; height: 20px; background: url(../images/newSys_login-02.png) no-repeat; }
.activationCodes:focus, .actualNameInp:focus { border-color: #53b567;}
.activationBox { width: 528px; height: 498px; margin: 93px auto 0; border: 1px solid #dde1e6;}
.aboxLeft { float: left; width: auto; overflow: hidden;}
.activationCodes { width: 298px;}
.activationIcon { background-position: 0 -46px;}
.activationCodes:focus + i { background-position: 0 -65px;}
.aboxRight { float: right; width: 107px; height: 38px; line-height: 38px; margin-left: 20px; font-size: 12px; color: #53b567; text-align: center; border: 1px solid #53b567; border-radius: 2px; cursor: pointer;}
.aboxRight.countdown { color: #fff; border-color: #b6b6b6; background: #b6b6b6;}
.actualNameInp { width: 428px; margin-left: auto; margin-right: auto;}
.actualNameIcon { background-position: 0 -86px;}
.actualNameInp:focus + i { background-position: 0 -107px;}
.acSubmit { display: block; width: 100%; height: 40px; line-height: 40px; font-size: 18px; color: #fff; text-align: center; border: none; background: #53b567;}
.already { line-height: 14px; color: #424451; text-align: center;}
.already a { color: #009aff;}
.versionNumber2 { width: 100%; line-height: 16px; font-size: 16px; color: #999; text-align: center;}

/*修改*/
.loginBox {height:440px;}
