@charset "utf-8";
/**/
.wrapper_box {padding:0 20px;background:#fff;}

.title {height:55px;line-height:55px;border-bottom:1px solid #dedfdf;}
.title .title_left {line-height:14px;font-size:0;cursor:default;}
.title .title_left span {float:left;display:block;padding:20px 0;font-size:14px;color:#b9bdc4;}
.title .title_left span.title_text {color:#53b567;border-bottom:2px solid #53b567;}
.title .title_left span em {margin:0 4px;}
.title_right {height:55px;font-size:0;}
.title_right .return_btn {display:inline-block;width:108px;height:28px;line-height:28px;margin:13px 0 12px;font-size:14px;color:#9e9e9e;text-align:center;border:1px solid #ddd;background:#f7f7f7;}
.title_right .return_btn:hover {color:#fff;border-color:#53b567;background:#53b567;}

/*main*/
.ns_main {width:100%;margin:20px auto;overflow:hidden;}
.ns_main .ns_rows {line-height:37px;margin-bottom:15px;}
.ns_rows span, .ns_rows .rows_cont {float:left;}
.ns_rows span {width:100px;margin-right:20px;font-size:14px;color:#333;text-align:right;}
.ns_rows span i {margin-right:4px;color:#ff0000;}
.ns_rows .rows_cont {text-align:left;}
.rows_cont .ns_inp, .rows_cont select {width:500px;height:35px;line-height:35px;font-size:14px;color:#333;text-align:left;border:1px solid #a9a9a9;background:#fff;}
.rows_cont .ns_inp {text-indent:15px;}
.rows_cont .ns_inp:focus {border-color:#53b567;}
.rows_cont select {text-indent:10px;}
.rows_cont .individual {max-width:642px;padding:11px 0 0 11px;border:1px solid #a9a9a9;background:#fff;}
.rows_cont .individual li {float:left;width:78px;height:21px;line-height:21px;margin-right:11px;margin-bottom:11px;color:#333;text-align:center;border:1px solid #a9a9a9;cursor:pointer;}
.rows_cont .individual li.cur {color:#fff;border-color:#53b567;background:#53b567;}
.rows_cont .standard_list {width:655px;min-height:135px;/*max-height:431px;overflow-y:scroll;*/}
.rows_cont .standard_list li {display:block;height:135px;margin-bottom:10px;border:1px solid #ddd;}
.rows_cont .standard_list .list_top {height:25px;line-height:25px;background:#e4e4e4;}
.rows_cont .standard_list .list_top p {float:left;margin-left:10px;font-weight:700;color:#333;}
.rows_cont .standard_list .list_top .top_close {float:right;width:12px;height:13px;padding:6px 10px;}
.rows_cont .standard_list .list_top .top_close img {display:block;width:100%;vertical-align:middle;}
.rows_cont .standard_list .list_top .list_cont {width:100%;height:108px;}
.rows_cont .standard_list .list_cont .cont_top, .rows_cont .standard_list .list_cont .cont_choose {height:37px;line-height:37px;}
.rows_cont .standard_list .list_cont .cont_top {margin:10px auto;}
.rows_cont .standard_list .list_cont .cont_top span, .rows_cont .standard_list .list_cont .cont_choose span {width:80px;}
.rows_cont .standard_list .list_cont .cont_top .list_inp {float:left;width:250px;height:35px;line-height:35px;margin-right:15px;font-size:12px;color:#333;text-indent:10px;border:1px solid #a9a9a9;background:#fff;}
.rows_cont .standard_list .list_cont .cont_top em {float:left;color:#ff0000;}
.rows_cont .standard_list .list_cont .cont_top .list_inp:focus {border-color:#53b567;}
.rows_cont .standard_list .list_cont .cont_choose label {float:left;margin-right:40px;}
.rows_cont .standard_list .list_cont .cont_choose label input {margin-top:-2px;margin-right:2px;vertical-align:middle;}

.rows_cont textarea {width:490px;height:130px;padding:5px;border:1px solid #a9a9a9a;background:#fff;resize:none;}
.rows_cont input[type='button'] {width:100px;height:31px;line-height:31px;font-size:14px;text-align:center;}
.rows_cont .list_confirm {margin-right:20px;color:#fff;border:1px solid #53b567;background:#53b567;}
.rows_cont .list_confirm:hover {background:#4da45e;}
.rows_cont .list_cancel {color:#333;border:1px solid #ddd;background:#fff;}
.rows_cont .list_cancel:hover {background:#c8c8c8;}