/**/
.wrapBox { padding: 0 20px; background: #fff;}
.newEmployeesCont { width: 1130px; margin-bottom: 20px;}
.nsContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.nsContTop .topTit { line-height: 14px; font-size: 0; cursor: default;}
.nsContTop .topTit span { float: left; display: block; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.nsContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.nsContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}

/*=================================== 黄金分割线 ===================================*/
.nsMiddle { margin-top: 40px;}
.nsRow { margin-bottom: 20px;float: left;width: 100%}
.nsLeft, .nsRight { float: left; line-height: 30px;}
.nsLeft { width: 10.6%; margin-right: 20px; color: #333; text-align: right;}
.nsLeft i { margin-right: 4px; color: #d00202;}
.nsRight { width: 87.6%; color: #555; text-align: left;}
.nsRight .nsInp { display: block; width: 468px; height: 28px; line-height: 28px; text-align: left; text-indent: 10px; border: 1px solid #ccc; background: #fff;}
.nsRight .nsInp:focus { border-color: #53b567;}
.nsRight .nsDepartment { width: 348px; margin-right: 20px;}
.nsRight .nsSelectPost { display: block; width: 100px; height: 30px; line-height: 30px; font-size: 12px; color: #555; text-align: center; border: 1px solid #ccc; background: #f7f7f7; cursor: pointer;}
.nsRight .nsSubmit { display: block; width: 94px; height: 30px; line-height: 30px; margin-top: 20px; color: #fff; text-align: center; border: none; background: #53b567; cursor: pointer;}




/*=================================== 黄金分割线：模拟select ===================================*/
.select_title{ width: calc(100% - 30px); white-space: nowrap; word-break: keep-all; text-overflow: ellipsis; }
.selectbox { position:relative; width: 470px; height:30px; line-height:30px; margin-right: 27px; font-size:12px;}
.selectbox dl { position:absolute; width: 138px; color: #555; border:1px solid #ccc;}
.selectbox dl.on { max-height: 150px; width: calc(100% + 10px); border:1px solid #ccc; overflow-y: auto; overflow-x: hidden;}
.selectbox dl dt { padding-left:10px; cursor:pointer; overflow:hidden; border-bottom: none; background: #fff;}
.selectbox dl dt.on { border-bottom:1px solid #ccc; background: #e6e6e6 none repeat scroll 0 0;}
.selectbox dl dd{ position:relative; padding:0 10px; color: #555; border-bottom:1px solid #ebebeb;background:#fff none repeat scroll 0 0; cursor:pointer; z-index: 5;}
.selectbox dl dd:last-child { border-bottom: none;}
.selectbox dl dd.on{border-bottom:1px solid #53b567;}
.selectbox dl dd:hover{ background: #eaedf1 none repeat scroll 0 0;}
.selectbox .arrow { width: 30px; height: 28px; background:transparent url(../images/Descending.png) no-repeat center center;}
.selectbox .arrow_on { background:transparent url(../images/Ascending.png) no-repeat center center;}
.selectbox .ddoption { display:none; height:200px; border: medium none; overflow-y:scroll;}
.fxDone { display: none;}
.zindex4 { z-index: 4;}
.nsArea { width: 138px;}
.nsStatus { width: 468px;}
.selectbox.nsStatus dl { width: 468px;}

/*=================================== 黄金分割线：选择部门及职位 ===================================*/
.department { position: relative; display: none; border: 8px solid #7a7a7a; background: #fff;}
.nsTop { height: 40px; line-height: 40px; padding: 0 20px; border-bottom: 1px solid #ccc;}
.nsTop span { float: left; font-weight: bold; color: #333;}
.nsTop .nsClose { float: right; width: 40px; height: 40px; background: url(../images/addPer_01-01.png) no-repeat center center; cursor: pointer;}

.nsCont { padding: 10px 20px 0;}
.nsSelectTop { height: 30px; margin-bottom: 10px;}
.nsSelectTop .nsSelectBox, .selectbox.nsSelectBox dl { width: 84px;} 
.nsSelectTop .nsSelectBox { margin-right: 19px;}
.nsSelectTop .nsSelectSearch, .nsSelectTop .nsSearchSubmit { display: block; font-size: 12px;} 
.nsSelectTop .nsSelectSearch { width: 148px; height: 30px; line-height: 30px; margin-right: 15px; color: #555; text-align: left; text-indent: 10px; border: 1px solid #ccc; background: #fff;}
.nsSelectTop .nsSelectSearch:focus { border-color: #53b567;}
.nsSelectTop .nsSearchSubmit { width: 66px; height: 32px; line-height: 32px; color: #fff; text-align: center; border: none; background: #53b567; cursor: pointer;}
.nsDeparMiddle { height: 389px; margin-bottom: 20px; border: 1px solid #e1e6eb; overflow-y: scroll;}
.nsDeparMiddle dl { font-size: 12px; border-bottom: 1px solid #e1e6eb;}
.nsDeparMiddle dl.nsTit { background: #f5f6fa;}
.nsDeparMiddle dl:last-child { border-bottom: none;}
.nsDeparMiddle dt, .nsDeparMiddle dd { float: left; line-height: 38px; word-wrap:break-word; word-break:break-all; text-align: left;}
.nsDeparMiddle dt { color: #999;}
.nsDeparMiddle dd { color: #696969;}
.nsDeparMiddle .wNsOne, .nsDeparMiddle .wNsTwo, .nsDeparMiddle .wNsThr { padding: 0 .2%;}
.nsDeparMiddle .wNsOne { width: 13.1%; padding-left: 19px;}
.nsDeparMiddle .wNsTwo { width: 32.3%;}
.nsDeparMiddle .wNsThr { width: 46.3%;}
.nsDeparMiddle .wNsOne input[type="checkbox"] { margin-top: -2px; vertical-align: middle;}
.nsDetermine { display: block; width: 65px; height: 30px; line-height: 30px; margin-bottom: 32px; font-size: 12px; color: #fff; border: none; background: #53b567; cursor: pointer;}
.afTime { float: left; display: block; width: 138px; height: 28px; line-height: 28px; color: #a6a7a7; text-indent: 20px; border: 1px solid #ccc; background: #fff url(../images/datePicker.png) no-repeat 110px center; cursor: pointer;}

/*16:5:26: 11:02:14*/
.nsRight .manLabel { margin-right: 40px;}
.nsRight .nsSta { width: 160px;}
.nsRight .selectbox.nsSta dl { width: 158px;}
.thrSix { height: 30px;}

/*0908*/
.wrapBox#sUserAddWrap .newEmployeesCont {width:auto;}
.wrapBox#sUserAddWrap .nsLeft {width:120px;margin-right:17px;}
.wrapBox#sUserAddWrap .nsRight {width:auto;}
