@charset "utf-8";
/*部分样式冲突调整*/
.topRight .node_btn, .topRight .zidingyi_btn {float:left;width:108px;margin:13px 0 12px;font-size:14px;color:#9e9e9e;text-align:center;border:1px solid #ddd;background:#f7f7f7;}
.topRight .node_btn {height:28px;line-height:28px;}
.topRight .zidingyi_btn {height:30px;line-height:30px;margin-right:20px;cursor:pointer;}
.topRight .node_btn:hover, .topRight .zidingyi_btn:hover {color:#fff;border-color:#53b567;background:#53b567;}

/*弹窗(弹窗名字可修改)*/
.zidingyi_box {position:relative;display:none;width:342px;height:auto;padding:34px 31px 40px;background:#fff;overflow:hidden;}
.zidingyi_box .z_rows {height:30px;line-height:30px;margin-bottom:15px;}
.zidingyi_box .z_rows span, .zidingyi_box .z_rows .z_inp {float:left;color:#333;}
.zidingyi_box .z_rows span {width:100px;margin-right:10px;text-align:right;}
.zidingyi_box .z_rows span i {margin-right:4px;color:#d00202;vertical-align:middle;}
.zidingyi_box .z_rows .z_inp {display:block;width:210px;height:28px;line-height:28px;color:#a6a7a7;text-indent:10px;border:1px solid #ccc;background:#fff;}
.zidingyi_box .z_rows .z_inp:focus {border-color:#53b567;}

.zidingyi_box .z_rows.txt_center {text-align:center;}
.zidingyi_box .z_rows.mt35 {margin-top:35px;}
.zidingyi_box .z_rows .z_confirm, .zidingyi_box .z_rows .z_cancel {width: 100px;height:30px;line-height:30px;text-align:center;border:none;cursor:pointer;}
.zidingyi_box .z_rows .z_confirm {margin-right:40px;color:#fff;background:#53b567;}
.zidingyi_box .z_rows .z_confirm:hover {background:#4da45e;}
.zidingyi_box .z_rows .z_cancel {color:#333;background:#dbdbdb;}
.zidingyi_box .z_rows .z_cancel:hover {background:#c8c8c8;}













