@charset "utf-8";
/**/
.wrapBox { padding: 0 20px; background: #fff;}
.imCont { width: auto; margin-bottom: 20px;}
.imContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.imContTop .topTit { line-height: 14px;color: #53b567;cursor: default;}
.imContTop .topTit span { float: left; display: block; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.imContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.imContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .addAccount, .topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .addAccount:hover, .topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}

/*======================================== 黄金分割线:筛选条件 ========================================*/
.p{position:relative;height:45px;line-height:45px;width:auto;background-color:#f5f6fa;color:#9e9e9e;padding-left: 15px; margin-top: 20px;}
.Filter{width: 100%;border:1px solid #e1e6eb; border-top: none; box-sizing: border-box;padding-top:20px;padding-bottom:20px;}
.frame{display: none;}
.frame1{display:block;}
.arrowFather{display: none;}
.arrowFather1{display:block;}
/*.frame,.frame1{position: absolute;}*/
.Filter .frame .details, .Filter .frame .details2 {width:100%;height:40px;margin-bottom:5px;/*overflow:hidden;*/}
.Filter .frame .details>span, .Filter .frame .details2>span {float: left; width:160px;height:40px;line-height: 30px; text-align: right;}
.Filter .frame .details2>span i {color:#ff0000;}
.Filter .frame .details>ul, .Filter .frame .details2>ul{float: left; width:auto;overflow: hidden;}
.Filter .frame .details>ul li, .Filter .frame .details2>ul li { float: left; height: 30px; margin-bottom: 10px;}
.Filter .frame .details>ul li a, .Filter .frame .details2>ul li a {float: left; line-height: 30px; background-color: #eaeaea; text-align: center; width: 100px; margin-right: 10px; margin-bottom: 10px;}
.Filter .frame .details>ul li a, .Filter .frame .details2>ul li a {color: #999;}
.Filter .frame .details>ul li a:hover, .Filter .frame .details>ul li.active a, 
.Filter .frame .details2>ul li a:hover, .Filter .frame .details2>ul li.active a {background-color: #53b567; color: #fff;}
.Filter .frame .details>select{width: 320px; height: 30px;}
.Filter .frame .details .confirmBtn {width:110px;height:30px;line-height:30px;color:#fff;text-align:center;border:none;background:#53b567;cursor:pointer;}
.Filter .frame .details .confirmBtn:hover {color:#fff;border-color:#53b567;background:#4da45e;}
.on_hover{background-color: #53b567 !important;color: #fff !important;}
.Filter .frame1{overflow: hidden; margin-left: 80px; margin-right: 90px;}
.Filter .frame1 ul{overflow: hidden}
.Filter .frame1 ul li {float:left;height:34px;line-height:34px;margin-bottom:15px;}
.Filter .frame1 li a{background-color: #53b567; color: #fff; float: left; line-height: 30px; padding: 2px 10px; text-align: center; margin-right: 10px; margin-bottom: 10px;}
.arrowFather1{width: 100%;/*height: 20px;*/}
.arrowFather{width: 100%;/*height:40px;*/}
.arrow, .arrow1{width: 150px;/* border:1px solid #e8e8e8; border-top-color: #fff;*/ margin: -1px auto 0; padding: 5px 0; color: #6b6b6b; text-align: center; cursor: pointer;}
.arrow1 span:hover { color: #53b567;}
.arrow i, .arrow1 i { display: inline-block; width: 10px; height: 4px; margin: 0 0 2px 5px; background: url(../images/c_saixuan.png) no-repeat;}
.arrow1 i.showIcon { background-position: 0 0;}
.arrow i.hideIcon { background-position: -15px 0;}
.selectbox1{margin-right: 20px; font-size: 12px; height: 30px; line-height: 30px; position: relative; width: 200px; visibility:hidden;}
.selectbox dl{border: 1px solid #ccc; color: #555; margin: 0; position: absolute; width: 100%;}
.selectbox dl.on{border: 1px solid #ccc; overflow-y: auto; overflow-x: hidden; max-height: 150px; width: calc(100% + 10px);}
.selectbox dl dt{cursor: pointer; overflow: hidden; padding-left: 10px; border-bottom: none; background: #fff;}
.selectbox dl dt.on{background: #e6e6e6 none repeat scroll 0 0; border-bottom: 1px solid #ccc;}
.selectbox dl dd{background: #fff none repeat scroll 0 0; border-bottom: 1px solid #ccc; cursor: pointer; margin: 0; padding: 0 10px; position: relative; z-index: 5;}
.selectbox dl dd.on{border-bottom: 1px solid #ccc;}
.selectbox dl dd:hover{background: #eaedf1 none repeat scroll 0 0; color: #555;}
.selectbox dl dd:last-child{border-bottom: none;}
.selectbox .arrow{background: transparent url(../images/Descending.png) no-repeat scroll 5px 14px; height: 30px; width: 30px; background-position-x: 5px; background-position-y: 14px;}
.selectbox .arrow_on{background: transparent url(../images/Ascending.png) no-repeat scroll 5px 14px; background-position-x: 5px; background-position-y: 14px;}
.employeeStatus{width: 128px;}
.afTime{display: block; width: 138px; height: 28px; line-height: 28px; color: #a6a7a7; text-indent: 20px; border: 1px solid #ccc; background: #fff url(../images/datePicker.png) no-repeat 110px center;}
.afTime:focus{border-color: #53b567; background: #fff url(../images/datePicker_click.png) no-repeat 110px center;}

/*======================================== 黄金分割线 ========================================*/
.forCondition { width: 100%; height: 30px; line-height: 30px; margin: 30px 0 20px;}
.selectbox {width:168px;margin-right:20px;margin-bottom:15px;font-size:12px;height:28px;line-height:28px;position:relative;}
.selectbox dl {width:100%;border:1px solid #ccc;color:#555;margin:0;position:absolute;}
.selectbox dl.on {background: #fff;border:1px solid #ccc;overflow-y: auto;overflow-x: hidden;max-height: 150px;width: 100%;}
.selectbox dl dt {cursor:pointer;overflow:hidden;padding-left:10px;border-bottom: none;background: #fff;}
.selectbox dl dt.on {background:#e6e6e6 none repeat scroll 0 0;border-bottom:1px solid #ccc;}
.selectbox dl dd {background:#fff none repeat scroll 0 0;border-bottom:1px solid #ccc;cursor:pointer;margin:0;padding:0 10px;position:relative;z-index:5;}
.selectbox dl dd.on{border-bottom:1px solid #ccc;}
.selectbox dl dd:hover{background:#eaedf1 none repeat scroll 0 0;color:#555;}
.selectbox dl dd:last-child { border-bottom: none;}
.selectbox dl.zindex4 {z-index:4;}
.selectbox .arrow {background:transparent url(../images/Descending.png) no-repeat scroll 5px 14px;height:20px;width:20px;background-position-x: 5px;background-position-y: 14px;}
.selectbox .arrow_on {background:transparent url(../images/Ascending.png) no-repeat scroll 5px 14px;background-position-x: 5px;background-position-y: 14px;}
.select_title {overflow: hidden;width: calc(100% - 30px);white-space: nowrap;word-break: keep-all;text-overflow: ellipsis;}
.fxDone { display: none;}
.forCondition .viInp { display: block; width: 238px; height: 28px; line-height: 28px; margin-right: 20px; font-size: 12px; color: #555; text-indent: 15px; border: 1px solid #ccc; background: #fff;}
.forCondition .viSearchBtn { display: block; width: 66px; height: 30px; color: #fff; text-align: center; border: none; background: #53b567;cursor:pointer;}
.forCondition .forWay, .forCondition .forUser { float: left; width: 140px; height: 30px; line-height: 30px; margin-right: 20px; color: #555; border: 1px solid #ccc; background: #fff;}

/*======================================== 黄金分割线 ========================================*/
.forMiddle { width: 100%; margin: 20px auto; font-size: 12px; border: 1px solid #e1e6eb;}
#forTable { width: 100%;}
#forTable tr, #forTable th, #forTable td { height: 43px; line-height: 43px; font-size: 12px;}
#forTable tr.forHeader { background: #f5f6fa;}
#forTable tr:hover { background: #f5f6fa;}
#forTable th { color: #999; text-align: left; border-bottom: 1px solid #e1e6eb;}
#forTable th.optionsTh {color:#999;text-indent: 39px;}
#forTable th.operatingTh { text-indent:10px;}
#forTable td { color: #696969; border-bottom: 1px solid #e1e6eb;cursor:pointer;}
#forTable td.optionsThTd { text-indent: 39px;}
#forTable td span.afterRefund, #forTable td span.toExamine {display:block;width:100%;height:auto;color:#0000ff;text-indent:10px;cursor:pointer;}
#forTable .forSelect{float: left; width: 40px; height: 40px;}
#forTable .forSelect i{display: block; width: 12px; height: 6px; margin: 17px 13px; background: url(../images/newSys_icon-01.png) no-repeat; background-position: 0 -60px;}
#forTable .forSelect:hover i{background-position: 0 -70px;}
.otherOperation{position: relative; width: 0px; display: none;}
.triangle { position: absolute; top: 25px; left: 14px; width: 10px; height: 6px; background: url(../images/organization_01-01.png) no-repeat;z-index:5;}
.otherIcon{position: absolute; top: 30px; left: -36px; width: 110px; height: auto; font-size: 12px; border: 1px solid #53b567; cursor: pointer;}
.otherIcon li{cursor: pointer;margin: auto; height: 39px; line-height: 39px; border-bottom: 1px solid #e7eaee;color: #767676;background: #fff;}
.otherIcon li:hover{background: #4dbe88;}
.otherIcon li .receivablesBtn, .otherIcon li .returnBtn, .otherIcon li .refundBtn, .otherIcon li .paymentInfoBtn { display: block; height: 40px;}
.otherIcon li span, .otherIcon li em{ float: left;}
.otherIcon li span{width: 22px; margin: 11px 7px 6px 13px; vertical-align: sub; background: url(../images/forecastManagement_01-01.png) no-repeat;}
.otherIcon li em{font-size: 14px; color: #3b3a48;}
.otherIcon li:hover em{color: #fff;}
.otherIcon li span.confirmPayment { height: 19px; background-position: 0 0;}
.otherIcon li span.return { height: 18px; background-position: 0 -42px;}
.otherIcon li span.refund { height: 21px; background-position: 0 -81px;}
.otherIcon li:hover span.confirmPayment { background-position: 0 -21px;}
.otherIcon li:hover span.return { background-position: 0 -61px;}
.otherIcon li:hover span.refund { background-position: 0 -104px;}

/*======================================== 黄金分割线  ========================================*/
.receivablesBox .reRow em, .returnBox .raRow em, .refundBox .raRow em { width: 218px; height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/*======================================== 黄金分割线:退款/收款/审核 ========================================*/
.returnBox, .receivablesBox, .auditOrderBox, .depositBox { position: relative; width: 342px;padding: 20px 31px 40px; background: #fff;}
/*.returnBox, .depositBox {height:325px;}
.receivablesBox {height:295px;}
.auditOrderBox {height:270px;}*/
.returnBox .raRow, .receivablesBox .reRow, .auditOrderBox .aoRow, .depositBox .raRow { width: 100%; height: 30px; line-height: 30px; margin-bottom: 10px;}
.returnBox .raRow span, .returnBox .raRow em, 
.receivablesBox .reRow span, .receivablesBox .reRow em,
.auditOrderBox .aoRow span, .auditOrderBox .aoRow em,
.depositBox .raRow span, .depositBox .raRow em { float: left; color: #333;}
.returnBox .raRow span, .receivablesBox .reRow span, .auditOrderBox .aoRow span, .depositBox .raRow span {width:100px;margin-right:10px;text-align:right;}
.returnBox .raRow span i, .receivablesBox .reRow span i, .auditOrderBox .aoRow span i, .depositBox .raRow span i {margin-right:4px;color:#d00202;vertical-align:middle;}
.returnBox .raRow em, .receivablesBox .reRow em, .auditOrderBox .aoRow em, .depositBox .raRow em {text-align:left;}
.returnBox .selectbox, .returnBox .raRefundInp, .receivablesBox .selectbox, .receivablesBox .receivablesInp, .depositBox .selectbox {width:210px;}
.returnBox .raRefundInp, .receivablesBox .receivablesInp {float:left;height:28px;line-height:28px;margin-bottom:10px;color:#333;text-align:left;text-indent:10px;border:1px solid #ccc;background:#fff;}
.returnBox .refundTime, .receivablesBox .receivablesTime, .auditOrderBox .auditOrderTime, .depositBox .depositBoxTime {float:left;display:block;width:210px;height:28px;line-height:28px;color:#a6a7a7;text-indent:10px;border:1px solid #ccc;background: #fff url(../images/datePicker.png) no-repeat 185px center;}
.returnBox .refundTime:hover, .receivablesBox .receivablesTime:hover, .auditOrderBox .auditOrderTime:hover, .depositBox .depositBoxTime:hover {border-color:#53b567;background: #fff url(../images/datePicker_click.png) no-repeat 185px center;}
.returnBox .raConfirm, .receivablesBox .receivablesConfirm, .depositBox .raConfirm, .outPutUserBtn {width:100px;height:30px;line-height:30px;margin-top:10px;color:#fff;text-align:center;border:none;background:#53b567;cursor:pointer;}
.returnBox .raConfirm:hover, .receivablesBox .receivablesConfirm:hover, .depositBox .raConfirm:hover, .outPutUserBtn:hover {background:#4da45e;}
.receivablesBox .receivablesConfirm {margin-top:20px;}
.depositBox .raConfirm {margin-top:30px;}
.auditOrderBox .toExamineBox {text-align:center;}
.auditOrderBox .toExamineBox input {width:100px;height:30px;line-height:30px;text-align:center;border:none;cursor:pointer;}
.auditOrderBox .toExamineBox .auditPass {margin-right:40px;color:#fff;background:#53b567;}
.auditOrderBox .toExamineBox .auditPass:hover {background:#4da45e;}
.auditOrderBox .toExamineBox .auditNotPassed {color:#333;background:#dbdbdb;}
.auditOrderBox .toExamineBox .auditNotPassed:hover {background:#c8c8c8;}

/*修改*/
.arrowFather .arrow, .arrowFather1 .arrow1{width: 150px; border:1px solid #e8e8e8; border-top-color: #fff; margin: -1px auto 0; padding: 5px 0; color: #6b6b6b; text-align: center; cursor: pointer;}
.arrowFather1 .arrow1 span:hover { color: #53b567;}
.arrowFather .arrow i, .arrowFather1 .arrow1 i { display: inline-block; width: 10px; height: 4px; margin: 0 0 2px 5px; background: url(../images/c_saixuan.png) no-repeat;}
.arrowFather1 .arrow1 i.showIcon { background-position: 0 0;}
.arrowFather .arrow i.hideIcon { background-position: -15px 0;}

/*新增style*/
.details .createdTimeBox, .details .completeTimeBox {float:left;width:auto;margin-bottom:10px;overflow:hidden;}
.details .createdTimeBox .createdTime, .details .completeTimeBox .completeTime, .details .createdTimeBox em, .details .completeTimeBox em {float:left;} 
.details .createdTimeBox .createdTime, .details .completeTimeBox .completeTime {display:block;width:168px;height:28px;line-height:28px;color:#a6a7a7;text-indent:20px;border:1px solid #ccc;background: #fff url(../images/datePicker.png) no-repeat 140px center;}
.details .createdTimeBox .createdTime:hover, .details .completeTimeBox .completeTime:hover {border-color:#53b567;background: #fff url(../images/datePicker_click.png) no-repeat 140px center;}
.details .createdTimeBox em, .details .completeTimeBox em {height:28px;line-height:28px;margin:0 15px;color:#a6a7a7;}

.gldp-default {z-index:10000 !important;}

/*修改*/
.promptText {margin-top:20px;font-size:12px;color:red;}
.forMiddle {margin-top:5px;}
.Filter .frame .details.h70 {height:70px;}
.Filter .frame .details.h70 p {margin-top:10px;font-size: 20px;text-align: center;color: #333;}
.outPutUserBtn.orSubmitBtn {display:block;margin:0 auto;}
#audit_hint {margin-left:30px;color:#53b567;}

/*0926*/
.returnBox .raRow, .receivablesBox .reRow {height:auto;}
.returnBox .raRefundInp, .receivablesBox .receivablesInp, .returnBox .selectbox, .receivablesBox .selectbox {margin-bottom:0;}
.returnBox .raRow .sum p, .receivablesBox .reRow .sum p {line-height:25px;font-size:12px;color:#ff0000;text-align:left;}
