.wrapBox { padding: 0 20px; background: #fff;}
.proCont { width: 1130px; margin-bottom: 40px;}
.proContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.proContTop .topTit { line-height: 14px; font-size: 0; cursor: default;}
.proContTop .topTit span { float: left; display: block; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.proContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.proContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}
.tab{height:33px;float:left;width:100%;border:1px solid #dedede;}
.tab div{background:#efefef;width:208px;float:left;height:33px;line-height:33px;text-align:center;border-right:1px solid #DEDEDE;cursor:pointer;}
.tab div:last-child{border:none;}
.tab div.cur{background:#54B568;color:#fff;}
.addContMiddle { padding: 40px; background: #fff;float:left;}
.content{width:100%;float:left;display:none;}
.content.active{display:block;}
.content-child{width:100%;float:left;padding:10px;border-bottom:1px solid #EFEFEF;}
.content .content-child:last-child{border-bottom:none;}
.contenCol{width:349px;float:left;height:40px;line-height:40px;}
.contenColLeft{width:auto;text-align:left;float:left;}
.contenColRight{float:left;text-align:left;width:229px;overflow:hidden;}
.contenColLeft i{color:#f00;}
.w100{width:100%;}
.w50{width:50%;}
.auto{width:auto;}
.colWidth2{width:698px;}
.remark{width:900px;background:#F8F8F8;min-height:200px;padding:5px;line-height: 1.4;}
.backrecord{width:900px;min-height:100px;padding:5px 5px 5px 9px;}
.hauto{height:auto;padding-left: 40px}
.listRight {
  float: left;
  margin-top:22px;
  width:100%;
}
.list-l{float:left;}
.list-r{float:left;margin-left:20px;border-left: 1px solid #ccc;padding-bottom:30px;}
.listRight li {
 min-height: 164px;
}
.listRight li.active i{background-position: 0 -12px;}
.listRight li.active .wrBox2 {
  border-color: #53b567;
}
.listRight li.active  .wrTriangle {
  background-position: 0 -40px;
}
.listRight li.active  .wrBox2 .wrBox2Tit {
  color: #53b567;
}
.listRight li.active  .wrBox2 .wrBox2Cont {
  background: #53b567;
}
.listRight li.active  .wrBox2 .wrReason{
	color:#fff;
}
.backTitle{font-weight:bold;padding:8px 0;}
.backCon{height:auto;min-height:40px;}
.listRight li .backTime{border-top:1px solid #ccc;padding:15px 0;}
.listRight li.active .backTime{border-top:1px solid #fff;padding:15px 0;}
.list-l img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  top: -35px;
}
.listRight ul {
  margin-top: 38px;
  padding-bottom: 8px;
}
.listRight li{float:left;width:100%;}
.listRight li i {
  float: left;
  width: 18px;
  height: 11px;
  margin-left: -10px;
  background: url(../images/adWithReview_01-01.png) no-repeat;
  background-position: 0 0;
}
.listRight .wrBox2 {
  position: relative;
  top: -14px;
  left: 22px;
  float: left;
  width: 768px;
  min-height: 162px;
  border: 1px solid #ccc;
}
.listRight .wrBox2 .wrTriangle {
  position: absolute;
  top: 10px;
  left: -16px;
  width: 18px;
  height: 17px;
  background: url(../images/adWithReview_01-01.png) no-repeat;
  background-position: 0 -23px;
}
.listRight .wrBox2 .wrBox2Tit {
  height: 40px;
  line-height: 40px;
  color: #333;
  text-indent: 26px;
}
.wrBox2Tit div{width:200px;float:left;}
.listRight .wrBox2 .wrBox2Cont {
  padding-right: 25px;
  background: #efefef;
}
.wrReason {
  padding-top:7px;
  padding-left: 26px;
  color: #333;
}
.wrBox2Cont .wrReason p {
  line-height: 14px;
}
.h20{height:20px;}
.h162{height:162px;float:left;}
.return.mr10{margin-right:20px;}
.return.active{background:#54B568;color:#fff;border: 1px solid #54B568;}
.contenColRight .input {
  display: block;
  width: 208px;
  height: 28px;
  line-height: 28px;
  margin-right: 5px;
  text-align: left;
  text-indent: 10px;
  border: 1px solid #ccc;
  background: #fff;
  margin-top:8px;
  float:left;
}
a.watch{background:#F7F7F7;width:208px;float:left;height:33px;line-height:33px;text-align:center;border:1px solid#CECECE;color:#A1A1A1;}
select {
  width: 208px;
  height: 30px;
  display: inline-block;
  margin-top: 8px;
  margin-right: 15px;
  border: 1px solid #ddd;
}
.nsSubmit {
  display: block;
  width: 94px;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  color: #fff;
  text-align: center;
  border: none;
  background: #53b567;
  cursor: pointer;
}
.w50{width:60px!important;}
.w80{width:80px!important;}
.w120{width:140px!important;}
.w300{width:300px!important;}
.w310{width:310px!important;}
.w380{width:380px!important;}
.w563{width:558px!important;}
.b-radio-wrapper {display: -moz-inline-stack;display: inline-block;zoom:1;margin-right:20px;cursor:pointer;}
.b-radio-wrapper label{cursor:pointer;}
a.b-radio {display: inline-block; background: url('../images/back-radio.png') no-repeat 0px 0px;vertical-align: middle;height: 14px;width: 14px;}
a.b-radio-checked {background-position: -14px 0px;}
.l-row {height: 20px;margin: 10px 0;line-height: 20px;}
.hidden {display: none;}
.mr0{margin-right:0!important;}

/*=================================== 黄金分割线 ===================================*/
.dn { display: none;}
.reApplyBox { position: relative; width: 465px; height: auto; background: #fff;}
.alBoxCont { width: 490px; margin: 0 auto; padding-top: 35px;}
.alBoxCont .alRow { margin-bottom: 20px;}
.alRow .alRowLeft, .alRow .alRowRight { float: left; line-height: 30px;}
.alRow .alRowLeft { width: 103px; margin-right: 18px; text-align: right; color: #333;}
.alRow .alRowLeft i { color: #d00202;}
.alRow .alRowRight { color: #494949;}
.alRow .alRowRight select, .alRow .alRowRight .alInp { text-indent: 12px; border: 1px solid #ccc; background: #fff;}
.alRow .alRowRight select { width: 260px; height: 30px; line-height: 30px; color: #555;}
.alRow .alRowRight .alInp { width: 258px; height: 28px; line-height: 28px; margin-top: -2px; text-indent: 16px;}
.alRow .alRowRight label { float: left; width: 40px; height: 30px; margin-right: 50px; cursor: pointer;}
.alRow .alRowRight .alRadio { width: 14px; height: 14px; vertical-align: middle;}
.alRow .alRowRight span { color: #494949;}
.alRow .alRowRight .reasonBox { width: 360px; height: 237px;}
.alRow .alRowRight .reasonBox img { width: 100%; vertical-align: middle;}
.alRow .alRowRight .alSubmit { display: block; width: 65px; height: 30px; line-height: 30px; font-size: 12px; color: #fff; text-align: center; border: none; background: #53b567; cursor: pointer;}

.redemption { position: relative; width: 950px; height: 524px; background: #fff;}
.rtCont { padding: 40px 30px 0 10px;}
.rtCont .rtRow { margin-bottom: 20px;}
.rtRow .rtRowLeft, .rtRow .rtRowRight { float: left; line-height: 30px; color: #333;}
.rtRow .rtRowLeft { width: 82px; margin-right: 15px; text-align: right;}
.rtRow .rtRowLeft i { margin-right: 4px; color: #d00202;}
.returningWay, .rtBox1, .rtBox2 { float: left;}
.returningWay { width: 160px; height: 30px; line-height: 30px; margin-right: 22px; border: 1px solid #ccc; background: #fff;}
.rtBox1, .rtBox2 { height: 30px;}
.rtBox1 { margin-right: 15px;}
.rtBox1 label, .rtBox2 label { margin-right: 10px;}
.rtBox1 label i, .rtBox2 label i { margin-right: 4px; color: #d00202;}
.rtBox1 label, .rtBox1 select { float: left;}
.rtBox1 select { width: 140px; height: 30px; line-height: 30px; border: 1px solid #ccc;}
.rtBox2 .afTime, .reApplyBox .afTime, .tabTime .afTime { width: 138px; height: 28px; line-height: 28px; color: #a6a7a7; text-indent: 20px; border: 1px solid #ccc; background: #fff url(../images/datePicker.png) no-repeat 110px center;}
.rtBox2 .afTime:focus, .reApplyBox .afTime:focus,  .tabTime .afTime:focus {border-color: #53b567; background: #fff url(../images/datePicker_click.png) no-repeat 110px center;}
.rtBox2 label, .rtBox2 input, .rtBox2 span, .rtBox2 select { float: left;}
.rtBox2 .rtInp { width: 128px; height: 28px; line-height: 28px; margin-right: 7px; color: #333; text-indent: 10px; border: 1px solid #ccc; background: #fff;}
.rtBox2 .hourSelect, .rtBox2 .minuteSelect { width: 54px; height: 30px; line-height: 30px; color: #333; border: 1px solid #ccc; background: #fff;}
.rtBox2 span { margin: 0 5px; color: #333;}
.rtRowRight .rtEditor { display: block; width: 802px; height: 302px; vertical-align: middle;}
.rtRowRight .rtSubmit { display: block; width: 65px; height: 30px; line-height: 30px; color: #fff; text-align: center; border: none; background: #53b567; cursor: pointer;}
/*****************选择操作者弹框*********/
.panel3>.panelConcent{ background-color: #fff; width:1000px; height:500px; }
.panel3>.panelConcent>p{height: 40px; width: 930px; border-bottom: 1px solid #ccc;}
.panel3>.panelConcent>p>span{font-size: 15px; color: #000; font-weight: bold; margin-left: 20px; line-height: 40px;}
.panel3>.panelConcent>p>b{color: #ddd; margin-left: 780px; cursor: pointer;}
.panel3>.panelConcent .div{width:95%; margin: 15px 2.5% 0px;}
.panel3>.panelConcent .div select{width: 120px; height: 30px; float: left; margin-top: 13px; margin-right: 15px; border: 1px solid #ddd;}
.panel3>.panelConcent .div input{width: 150px; height: 30px; float: left; margin-top: 13px; border: 1px solid #ddd; margin-right: 15px; color: #999; text-indent: 10px;}
.panel3>.panelConcent .div button{width: 80px; line-height: 30px; float: left; margin-top: 13px; background-color: #53b567; font-size: 15px; color: #fff; border:none;}
.panel3 .Capacity{width: 95%; height: 365px; margin: 20px auto 20px; font-size: 12px; border: 1px solid #e1e6eb; overflow-y: scroll;}
.panel3 .overflow{overflow: hidden;}
.panel3 .Capacity dl{border-bottom: 1px solid #e1e6eb;}
.panel3 .Capacity dl.proTit{background: #f5f6fa;}
.panel3 .Capacity dl:last-child{border-bottom: none;}
.panel3 .Capacity dt, .Capacity dd{float: left; line-height: 43px; word-wrap: break-word; word-break: break-all;}
.panel3 .Capacity dt{font-weight: bold; color: #717171;}
.panel3 .Capacity dd{color: #696969;}
/*.panel3 .Capacity .wOne{width: 10.6%; padding-left: 15px; font-weight: 500;}
.panel3 .Capacity .wTwo{width: 10.2%; padding-left: 15px; font-weight: 500;}
.panel3 .Capacity .wThr{width: 14%; padding-left: 15px; font-weight: 500;}
.panel3 .Capacity .wFou{width: 14%; padding-left: 15px; font-weight: 500;}
.panel3 .Capacity .wFiv{width: 14%; padding-left: 15px; font-weight: 500;}
.panel3 .Capacity .wSix{width: 14%; padding-left: 15px; font-weight: 500;}
.panel3 .Capacity .wSev{padding-left: 15px; font-weight: 500;}*/
.panel3 .Capacity .wOne{width: 8.5%; padding-left: 0; text-indent: 10px; font-weight: 500;}
.panel3 .Capacity .wTwo{width: 9.2%; padding-left: 0; text-align: center; font-weight: 500;}
.panel3 .Capacity .wThr{width: 12.57%; padding-left: 0; text-align: center; font-weight: 500;}
.panel3 .Capacity .wFou{width: 12.57%; padding-left: 0; text-align: center; font-weight: 500;}
.panel3 .Capacity .wFiv{width: 12.57%; padding-left: 0; text-align: center; font-weight: 500;}
.panel3 .Capacity .wSix {width: 12.57%; padding-left: 0; text-align: center; font-weight: 500;}
.panel3 .Capacity .wSev {width: 12.56%; padding-left: 0; text-align: center; font-weight: 500;}
.panel3 .Capacity .wEig {width: 12.56%; padding-left: 0; text-align: center; font-weight: 500;}
.panel3 .Capacity .wNin {width: 6.9%;padding-left: 0; text-align: center; font-weight: 500;}
.panel3 .Capacity .wNin i{display: inline-block; width: 45px; line-height: 28px; cursor: pointer; background-color: #53b567; text-align: center; color: #fff;}
.panel3 .Capacity dl.proTit dt { line-height: 25px;}
.panel3 .Capacity .proSequence  span{margin-left: 10px;}
/*赎回弹窗‘下次回放’元素样式*/
.pzTime input, .pzTime select, .pzTime span { float: left;}
.pzTime input { margin-right: 10px;}
.pzTime select { margin-top: 0;}
.pzTime span { margin: 0 10px;}
.alRow .alRowRight .reasonBox textarea { width: 355px; height: 162px; border: 1px solid #ccc; background: #fff; resize: none;}
/*p*/
.edui-default .edui-toolbar { line-height: 1.4;}
.waytype, .wayResult { margin-top: 0;}
.waytype { margin-left: 5px;}
.tabTime .afTime, .tabTime select { margin-top: 5px;}
.tabTime span, .tabTime select { float: left;}
.tabTime span { margin: 0 5px;}
.gldp-default .monyear select {width: auto;height:auto;margin-top: 0;margin-right: 0;}

.huifang { margin-bottom: 20px;}
.mb20 { margin-bottom: 20px;}
.listRight ul { margin-top: 0; padding-top: 58px;}
.limitDes { height: 40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/*回访记录change*/
.reWay, .results, .reTime { height: auto; margin-bottom: 10px; padding-left: 40px;}
.reWay .reTit, .reWay ol, .results .reTit, .results ol { float: left;}
.reWay .reTit, .results .reTit { line-height: 30px; margin-right: 10px;}
.reWay .reTit em, .results .reTit em { margin-right: 3px; color: #f00;}
.reWay ol, .results ol {max-width: 900px; margin: 0; padding: 0;}
.reWay li, .results li { float: left; width: 90px; height: 30px; line-height: 30px; min-height: 0; margin-right: 10px; margin-bottom:10px; color: #999; text-align: center; background: #eaeaea; cursor: pointer;}
.reWay li:hover, .results li:hover { color: #fff; background: #53b567;}
.reWay li.curr, .results li.curr { color: #fff; background: #53b567;}
.reTime .contenColLeft { width: auto; line-height: 30px; margin-right: 13px;}
.reTime .contenColRight { width: auto;}
.reTime .tabTime .afTime, .reTime .tabTime select { margin-top: 0;}
.tabTime span { line-height: 30px;}
#submit3 { margin-left: 90px;}

/*放弃*/
#panel4 .alRow .alRowLeft, #panel4 .alRow .alRowRight { line-height: 15px;}
#panel4 .alRow .alRowLeft.alGiveUp { line-height: 30px;}
#panel4 .alRow .alRowRight select { margin-top: 0;}
#panel4 .alRow .alRowRight textarea {width:354px;height: 116px;border: 1px solid #ccc; resize: none;}

/*申请预报*/
#panel2 .alRow .alRowRight select { margin-top: 0;}
#panel2 .alRow  .forecastingTips { position: relative;}
#panel2 .alRow  .forecastingTips span { position: absolute; top: 0; right: -100px; display: block; line-height: 30px; color: #a6a7a7;}

/*系统信息-备注*/
.applicationDetails .remark { margin-top: 10px; padding: 10px 0 0 15px; border: 1px solid #efefef;}

/*修改*/
.alRow .alRowRight .alSubmit {width:100px;}

.listRight#orderCont li .wrBox2 {width:910px;}
.listRight#orderCont li i {background-position: 0 -12px;}
.listRight#orderCont li .wrBox2 .wrTriangle {background: url(../images/adWithReview_01-03.png) no-repeat 0 0;}
.listRight#orderCont li .wrBox2 .wrBox2Top {position:relative;height:auto;padding:25px 27px 5px;background:#efefef;}
.listRight#orderCont li .wrBox2 .wrBox2Top .topStatus {position:absolute;top:0;right:0;width:95px;height:92px;background: url(../images/preferential_01-01.png) no-repeat;}
.listRight#orderCont li .wrBox2 .wrBox2Top .topStatus.topPass {background-position: 0 0;}
.listRight#orderCont li .wrBox2 .wrBox2Top .topStatus.topPaymentIn {background-position: 0 -93px;}
.listRight#orderCont li .wrBox2 .wrBox2Top .topStatus.topPaymentCompletion {background-position: 0 -186px;}
.listRight#orderCont li .wrBox2 .wrBox2Top .topStatus.topPending {background-position: 0 -279px;}
.listRight#orderCont li .wrBox2 .wrBox2Top .topStatus.topPartialRefund {background-position: 0 -372px;}
.listRight#orderCont li .wrBox2 .wrBox2Top .topStatus.topFail {background-position: 0 -465px;}
.listRight#orderCont li .wrBox2 .wrBox2Top .topStatus.topFullRefund {background-position: 0 -558px;}
.listRight#orderCont li .wrBox2 .wrBox2Top table {width:100%;}
.listRight#orderCont li .wrBox2 .wrBox2Top table tr {width:100%;height:20px;line-height:20px;}
.listRight#orderCont li .wrBox2 .wrBox2Top table td {font-size:14px;color:#333;text-align:left;}
.listRight#orderCont li .wrBox2 .wrBox2Top table td span {display:block;margin-bottom:10px;}
.listRight#orderCont li .wrBox2 .wrBox2Top table td span.desOrderNum {font-size:16px;color:#53b567;}
.listRight#orderCont li .wrBox2 .wrBox2Top .preferential {width:100%;height:30px;line-height:30px;}
.listRight#orderCont li .wrBox2 .wrBox2Top .preferential span, .listRight#orderCont li .wrBox2 .wrBox2Top .preferential ul {float:left;} 
.listRight#orderCont li .wrBox2 .wrBox2Top .preferential span {margin-right:7px;color:#333;}
.listRight#orderCont li .wrBox2 .wrBox2Top .preferential ul {margin:0;padding:0;}
.listRight#orderCont li .wrBox2 .wrBox2Top .preferential ul li {float:left;width:auto;height:20px;min-height:0;line-height:20px;margin:5px 10px 5px 0;padding:0 10px;color:#555;background:#cfcece;}
.listRight#orderCont li.green .wrBox2 {border-color:#53b567;}
.listRight#orderCont li.green .wrTriangle {background: url(../images/adWithReview_01-03.png) no-repeat 0 -17px;}
.listRight#orderCont li.green  .wrBox2 .wrBox2Top {background:#53b567;}
.listRight#orderCont li.green .wrBox2 .wrBox2Top table td {color:#fff;}
.listRight#orderCont li.green .wrBox2 .wrBox2Top .preferential span {color:#fff;}
.listRight#orderCont li.green .wrBox2 .wrBox2Top .preferential ul li {color:#178e30;background:#98d3a4;}
.listRight#orderCont li.green .wrBox2 .wrBox2Top table td span {color:#f0f0f0;}
.listRight#orderCont li.green .wrBox2 .wrBox2Top table td span.desOrderNum {font-size:16px;color:#fff;}
.listRight#orderCont li .wrBox2 .wrBox2Cont {padding:0 20px;background:#fff;}
.listRight#orderCont li .wrBox2 .wrBox2Cont table {width:100%;}
.listRight#orderCont li .wrBox2 .wrBox2Cont table tr {height:41px;line-height:41px;}
.listRight#orderCont li .wrBox2 .wrBox2Cont table td {width:25%;color:#333;border-bottom:1px solid #ccc;}
/*不通过订单列表的样式*/
.listRight#orderCont li .wrBox2 .wrBox2Top table.tableFail tr span {color:#979797;}
.listRight#orderCont li .wrBox2 .wrBox2Top table.tableFail tr span.desOrderNum {color:-webkit-link383}

.backCon {overflow:hidden;}
.listRight ol li {min-height:0;}

/*短信记录列表*/
.listRight#msgCont li {min-height:90px;}
.listRight#msgCont li i {background:url(../images/msg_01-01.png) no-repeat 0 0;}
.listRight#msgCont li i.current {background-position:0 -12px;}
.listRight#msgCont .wrBox2 {width:910px;min-height:initial;}
.listRight#msgCont .wrBox2 .wrTriangle {background:url(../images/msg_01-01.png) no-repeat 0 -23px;}
.listRight#msgCont .wrBox2 .wrBox2Top {position:relative;height:auto;}
.listRight#msgCont .wrBox2 .wrBox2Top .msgStatus {position:absolute;top:0;right:0;width:70px;height:68px;background:url(../images/msgStatus_01-01.png) no-repeat;}
.listRight#msgCont .wrBox2 .wrBox2Top .msgStatus.msgSendSuccess {background-position:0 -79px;}
.listRight#msgCont .wrBox2 .wrBox2Top .msgStatus.msgFailedToSend {background-position:0 0;}
.listRight#msgCont .wrBox2 .wrBox2Top .msgListInfo {height:40px;line-height:40px;color:#333;text-indent:22px;}
.listRight#msgCont .wrBox2 .wrBox2Top .msgListInfo span {margin-right:50px;}
/*.listRight#msgCont .wrBox2 .wrBox2Top .msgListCont {height:50px;line-height:50px;padding-right:40px;color:#333;text-indent:24px;background:#efefef;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}*/
.listRight#msgCont .wrBox2 .wrBox2Top .msgListCont {height:auto;line-height:1.8;padding:10px 40px 10px 22px;color:#333;text-align:justify;background:#efefef;}

.listRight#msgCont .wrBox2.msgCurr {border-color:#f8a840;}
.listRight#msgCont .wrBox2.msgCurr .wrTriangle {background-position:0 -40px;}
.listRight#msgCont .wrBox2.msgCurr .wrBox2Top .msgListInfo {color:#f8a840;}
.listRight#msgCont .wrBox2.msgCurr .wrBox2Top .msgListCont {color:#fff;background:#f8a840;}

/*0923*/
.listRight#orderCont li .wrBox2 .wrBox2Top .preferential {height:auto;}
.listRight#orderCont li .wrBox2 .wrBox2Top .preferential span {width:70px;margin-right:0;}
.listRight#orderCont li .wrBox2 .wrBox2Top .preferential ul {width:90%;height:auto;}

/*0929*/
.wrapBox#user_detail .proCont {width:auto;}
.wrapBox#user_detail .topRight .btn_phone {margin-right:20px;}
.wrapBox#user_detail .topRight .btn_phone span {float:left;width:16px;height:16px;margin:6px 0 6px 10px;}
.wrapBox#user_detail .topRight .btn_phone span i {display:block;width:100%;height:24px;background: url(../images/phone_01-01.png) no-repeat;}
.wrapBox#user_detail .topRight .btn_phone.return:hover span i {background: url(../images/phone_01-02.png) no-repeat;}
.wrapBox#user_detail .addContMiddle {width:100%;padding:40px 0;}
.wrapBox#user_detail .tab {border:none;}
.wrapBox#user_detail .tab div {width:16.57%;border:1px solid #dedede;border-right:none;}
.wrapBox#user_detail .listRight .wrBox2 {height:auto;min-height:initial;}
/*通话记录*/
.listRight#call-cont li .wrBox2 {width:910px;}
.listRight#call-cont li i {background-position: 0 -12px;}
.listRight#call-cont li .wrBox2 .wrTriangle {background: url(../images/adWithReview_01-03.png) no-repeat 0 0;}
.listRight#call-cont li .wrBox2 .wrBox2Top {position:relative;height:auto;background:#efefef;}
.listRight#call-cont li .wrBox2 .wrBox2Top .call-info span.operating-staff, .listRight#call-cont li .wrBox2 .wrBox2Top .call-address .call-customer {width:200px;margin-right:15px;text-indent:22px;}
.listRight#call-cont li .wrBox2 .wrBox2Top .call-info {height:40px;line-height:40px;color:#53b567;}
.listRight#call-cont li .wrBox2 .wrBox2Top .call-info span {float:left;width:120px;}
.listRight#call-cont li .wrBox2 .wrBox2Top .call-address {height:auto;line-height:1.8;padding:10px 40px 10px 0;color:#333;background:#efefef;}
.listRight#call-cont li .wrBox2 .wrBox2Top .call-address .call-customer {height:32px;line-height:32px;}
.listRight#call-cont li .wrBox2 .wrBox2Top .call-address .call-customercont span.call-status {width:120px;margin-right:0;}
.listRight#call-cont li .wrBox2 .wrBox2Top .call-address a, .listRight#call-cont li .wrBox2 .wrBox2Top .call-address span {float:left;line-height:32px;}
.listRight#call-cont li .wrBox2 .wrBox2Top .call-address a img {display:block;width:32px;height:32px;margin:0 10px;}
.listRight#call-cont li .wrBox2 .wrBox2Top .call-address a .play-btn {padding:4px 15px;color:#696969;cursor:pointer;}
.listRight#call-cont li .wrBox2 .wrBox2Top .call-address span {margin-right:20px;}

.listRight#call-cont li.green .wrBox2 {border-color:#53b567;}
.listRight#call-cont li.green .wrTriangle {background: url(../images/adWithReview_01-03.png) no-repeat 0 -17px;}
.listRight#call-cont li.green  .wrBox2 .wrBox2Top {background:#53b567;}
.listRight#call-cont li.green .wrBox2 .wrBox2Top table td {color:#fff;}
.listRight#call-cont li.green .wrBox2 .wrBox2Top .preferential span {color:#fff;}
.listRight#call-cont li.green .wrBox2 .wrBox2Top .preferential ul li {color:#178e30;background:#98d3a4;}
.listRight#call-cont li.green .wrBox2 .wrBox2Top table td span {color:#f0f0f0;}
.listRight#call-cont li.green .wrBox2 .wrBox2Top table td span.desOrderNum {font-size:16px;color:#fff;}
.listRight#call-cont li .wrBox2 .wrBox2Cont {padding:0 20px;background:#fff;}


.wrapBox#user_detail .listRight#orderCont li .wrBox2 .wrBox2Top {padding:25px 27px 17px;}
.applicationDetails .remark, .backrecord {margin-top:15px;}
.applicationDetails .remark {padding:0 0 0 15px;border:none;}
.backrecord {padding:0 0 0 8px;}
#submit1, #submit2, #submit3 {margin-top:30px;}
#submit1 {margin-left:50px;}
#submit3 {margin-left:50px;}
.hauto {padding-left:0;}
.layui-layer-btn {text-align:center !important;}
