@charset "utf-8";
/**/
.wrapBox { padding: 0 20px; background: #fff;}
.imCont { width: 1130px; margin-bottom: 80px;}
.imContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.imContTop .topTit { line-height: 14px; padding: 20px 0; color: #53b567; border-bottom: 2px solid #53b567; cursor: default;}
.topRight { height: 55px; font-size: 0;}
.topRight .addAccount, .topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .addAccount:hover, .topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}

/*======================================== 黄金分割线 ========================================*/
.forCondition { width: 100%; height: 30px; line-height: 30px; margin: 30px 0 20px;}
.selectbox {width:138px;margin-right: 20px;font-size:12px;height:30px;line-height:30px;position:relative;}
.selectbox dl {width:100%;border:1px solid #ccc;color:#555;margin:0;position:absolute;}
.selectbox dl.on {background: #fff;border:1px solid #ccc;overflow-y: auto;overflow-x: hidden;max-height: 150px;width: 100%;}
.selectbox dl dt {cursor:pointer;overflow:hidden;padding-left:10px;border-bottom: none;background: #fff;}
.selectbox dl dt.on {background:#e6e6e6 none repeat scroll 0 0;border-bottom:1px solid #ccc;}
.selectbox dl dd {background:#fff none repeat scroll 0 0;border-bottom:1px solid #ccc;cursor:pointer;margin:0;padding:0 10px;position:relative;z-index:5;}
.selectbox dl dd.on{border-bottom:1px solid #ccc;}
.selectbox dl dd:hover{background:#eaedf1 none repeat scroll 0 0;color:#555;}
.selectbox dl dd:last-child { border-bottom: none;}
.selectbox .arrow {background:transparent url(../images/Descending.png) no-repeat scroll 8px 12px;height:30px;width:30px;background-position-x: 8px;background-position-y: 12px;}
.selectbox .arrow_on {background:transparent url(../images/Ascending.png) no-repeat scroll 8px 12px;background-position-x: 8px;background-position-y: 12px;}
.select_title {overflow: hidden;width: calc(100% - 30px);white-space: nowrap;word-break: keep-all;text-overflow: ellipsis;}
.fxDone { display: none;}
.forCondition .viInp { display: block; width: 238px; height: 28px; line-height: 28px; margin-right: 20px; font-size: 12px; color: #555; text-indent: 15px; border: 1px solid #ccc; background: #fff;}
.forCondition .viSearchBtn { display: block; width: 66px; height: 30px; color: #fff; text-align: center; border: none; background: #53b567;}

.forCondition .payWay, .forCondition .payPaymentStatus, .forCondition .payUser { float: left; width: 140px; height: 30px; line-height: 30px; margin-right: 20px; color: #555; border: 1px solid #ccc; background: #fff;}

/*======================================== 黄金分割线 ========================================*/
.forMiddle { width: 100%; margin: 0 auto 20px; font-size: 12px; border: 1px solid #e1e6eb;}
#forTable { width: 100%;}
#forTable tr, #forTable th, #forTable td { height: 43px; line-height: 43px; font-size: 12px;}
#forTable tr.forHeader { background: #f5f6fa;}
#forTable tr:hover { background: #f5f6fa;}
#forTable th { color: #999; text-align: left; border-bottom: 1px solid #e1e6eb;}
#forTable th.optionsTh { text-indent: 21px;}
#forTable th.operatingTh { text-indent: 6px;}
#forTable td { color: #696969; border-bottom: 1px solid #e1e6eb;}
#forTable td.optionsThTd { text-indent: 21px;}
#forTable .forSelect{float: left; width: 40px; height: 40px;}
#forTable .forSelect i{display: block; width: 12px; height: 6px; margin: 20px 13px 16px 13px; background: url(../images/newSys_icon-01.png) no-repeat; background-position: 0 -60px;}
#forTable .forSelect:hover i{background-position: 0 -70px;}
.otherOperation{position: relative; width: 0px; display: none;}
.triangle { position: absolute; top: 30px; left: 14px; width: 10px; height: 6px; background: url(../images/organization_01-01.png) no-repeat;z-index:5;}
.otherIcon{position: absolute; top: 35px; left: -36px; width: 110px; height: auto; font-size: 12px; border: 1px solid #53b567; cursor: pointer;}
.otherIcon li{cursor: pointer;margin: auto; height: 39px; line-height: 39px; border-bottom: 1px solid #e7eaee;color: #767676;background: #fff;}
.otherIcon li:hover{background: #4dbe88;}
.otherIcon li .payReceivablesBtn, .otherIcon li .payRefundBtn { display: block; height: 40px;}
.otherIcon li span, .otherIcon li em{ float: left;}
.otherIcon li span {width: 22px; margin: 11px 7px 6px 13px; vertical-align: sub; background: url(../images/forecastManagement_01-01.png) no-repeat;}
.otherIcon li em{font-size: 14px; color: #3b3a48;}
.otherIcon li:hover em{color: #fff;}
.otherIcon li span.payReceivables { height: 23px; background-position: 0 -125px;}
.otherIcon li span.payRefund { height: 21px; background-position: 0 -81px;}
.otherIcon li:hover span.payReceivables { background-position: 0 -150px;}
.otherIcon li:hover span.payRefund { background-position: 0 -104px;}

.selectbox {width:148px;margin-right: 20px;font-size:12px;height:30px;line-height:30px;position:relative;}
.selectbox dl {width:100%;border:1px solid #ccc;color:#555;margin:0;position:absolute;}
.selectbox dl.on {background: #fff;border:1px solid #ccc;overflow-y: auto;overflow-x: hidden;max-height: 150px;width: 100%;}
.selectbox dl dt {cursor:pointer;overflow:hidden;padding-left:10px;border-bottom: none;background: #fff;}
.selectbox dl dt.on {background:#e6e6e6 none repeat scroll 0 0;border-bottom:1px solid #ccc;}
.selectbox dl dd {background:#fff none repeat scroll 0 0;border-bottom:1px solid #ccc;cursor:pointer;margin:0;padding:0 10px;position:relative;z-index:5;}
.selectbox dl dd.on{border-bottom:1px solid #ccc;}
.selectbox dl dd:hover{background:#eaedf1 none repeat scroll 0 0;color:#555;}
.selectbox dl dd:last-child { border-bottom: none;}
.selectbox .arrow {background:transparent url(../images/Descending.png) no-repeat scroll 8px 12px;height:30px;width:30px;background-position-x: 8px;background-position-y: 12px;}
.selectbox .arrow_on {background:transparent url(../images/Ascending.png) no-repeat scroll 8px 12px;background-position-x: 8px;background-position-y: 12px;}
.select_title {overflow: hidden;width: calc(100% - 30px);white-space: nowrap;word-break: keep-all;text-overflow: ellipsis;}
.fxDone { display: none;}

/*======================================== 黄金分割线:收款 ========================================*/
.receivablesBox { position: relative; width: 340px; height: 173px; padding: 32px 31px 40px 32px; background: #fff;}
.receivablesBox .reRow { width: 100%; height: 30px; line-height: 30px; margin-bottom: 10px;}
.receivablesBox .reRow span, .receivablesBox .reRow em { float: left; color: #333;}
.receivablesBox .reRow em { width: 170px; height: 30px; margin-left: 10px; text-align: left; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.receivablesBox .reRow span i { margin-right: 5px; color: #d00202;}
.receivablesBox .reRow .selectbox { width: 248px; margin-right: 0; margin-bottom: 20px; margin-left: 10px;}
.receivablesBox .reRow .refundAmountInp { width: 246px; height: 28px; line-height: 28px; margin-left: 10px; color: #555; text-indent: 10px; border: 1px solid #ccc; background: #fff;}
.receivablesBox .reBtnBox { width: 100%; height: 30px; line-height: 30px; margin-top: 40px; text-align: center;}
.receivablesBox .reBtnBox input { float: left; width: 100px; height: 30px; line-height: 30px; color: #fff; border: none; cursor: pointer;}
.receivablesBox .reBtnBox .reConfirm { margin-left: 91px; background: #53b567;}

/*======================================== 黄金分割线:退款 ========================================*/
.returnBox { position: relative; width: 343px; height: 209px; padding: 30px 90px; background: #fff;}
.returnBox .raRow { width: 100%; height: 30px; line-height: 30px; margin-bottom: 10px;}
.returnBox .raRow span, .returnBox .raRow em { float: left; color: #333;}
.returnBox .raRow em { margin-left: 10px;}
.returnBox .raRow span i { margin-right: 5px; color: #d00202;}
.returnBox .raRow .selectbox { width: 248px; margin-right: 0; margin-bottom: 20px; margin-left: 10px;}
.returnBox .raRow .refundAmountInp { width: 248px; height: 28px; line-height: 28px; margin-left: 10px; color: #555; text-indent: 10px; border: 1px solid #ccc; background: #fff;}
.returnBox .returnBtnBox { width: 100%; height: 30px; line-height: 30px; margin-top: 30px; text-align: center;}
.returnBox .returnBtnBox input { float: left; width: 100px; height: 30px; line-height: 30px; color: #fff; border: none; cursor: pointer;}
.returnBox .returnBtnBox .returnConfirm { margin-left: 92px; background: #53b567;}
.receivablesBox .raSelect, .returnBox .raSelect { height: 30px; line-height: 30px; margin-left: 10px; color: #555; border: 1px solid #ccc; background: #fff;}
.returnBox .raSelect { width: 250px;}
.receivablesBox .raSelect { width: 248px;}
