@charset "utf-8";
/**/
.dn { display: none;}
.mb34 { margin-bottom: 34px;}
.wrapBox { padding: 0 20px; background: #fff;}
.regionCont { width: 1130px; margin-bottom: 20px;}
.regionContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.regionContTop .topTit { line-height: 14px; font-size: 0; cursor: default;}
.regionContTop .topTit span { float: left; display: block; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.regionContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.regionContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .addZones, .topRight .newCenter, .topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .addZones:hover, .topRight .newCenter:hover, .topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}
.topRight .addZones, .topRight .newCenter { margin-right: 20px;}

/*=================================== 黄金分割线 ===================================*/
.regionContMiddle { width: 100%; margin: 20px auto 40px; font-size: 12px; border: 1px solid #e1e6eb;}
.regionContMiddle dl { position: relative; min-height: 40px; border-bottom: 1px solid #e1e6eb;}
.regionContMiddle dl:last-child { border-bottom: none;}
.regionContMiddle dl:hover { background: #ebebeb;}
.regionContMiddle dl.regionTit, dl.region:hover { background: #f5f6fa;}
.regionContMiddle dt, .regionContMiddle dd { float: left; line-height: 43px; word-wrap:break-word; word-break:break-all;}
.regionContMiddle dt { font-weight: bold; color: #999;}
.regionContMiddle dd { color: #696969;}
.regionSequence span, .regionSequence .oergList { float: left;}
.oergList { display: inline-block; width: 20px; height: 43px; background: url(../images/promotion_list-01.png) no-repeat center; cursor: pointer;}
.regionContMiddle .wOne { width: 8.7%; padding-left: 15px; visibility: hidden; width: 4.7%;}
.regionContMiddle .wTwo { width: 10.6%;}
.regionContMiddle .wThr { width: 62.6%;}
.regionContMiddle .wFou { width: 16.6%;}
.SequenceInp { display: block; width: 58px; height: 28px; line-height: 28px; margin: 6px 0; color: #707070; text-align: center; border: 1px solid #d8d6d6; background: #fff;}
.SequenceInp:focus { border-color: #53b567;}

.regionSelect { float: left; display: block; width: 40px; height: 40px;}
.regionSelect i { display:block; width: 12px; height: 6px; margin: 20px 13px 16px 13px; background: url(../images/newSys_icon-01.png) no-repeat; background-position: 0 -60px;}
.regionSelect:hover i { background-position: 0 -70px;}
.otherOperation { position: relative; width: 0; display: none; z-index: 1;}
.triangle { position: absolute; top: 29px; left: 14px; width: 10px; height: 6px; background: url(../images/organization_01-01.png) no-repeat; z-index: 1;}
.otherIcon { position: absolute; top: 34px; left: -42px; width: 122px; font-size: 12px; border: 1px solid #53b567; border-radius: 3px; background: #fff; }
.otherIcon li {cursor: pointer;margin: auto; height: 40px; line-height: 40px; border-bottom: 1px solid #e7eaee;color: #767676;background: #fff;}
.otherIcon li:last-child { border-bottom: none;}
.otherIcon li:hover {background: #4dbe88;}
.otherIcon li span, .otherIcon li em { float: left; display: block;}
.otherIcon li span { width: 21px; margin: 11px 8px 0; vertical-align: middle; background: url(../images/promotion_list-02.png) no-repeat;}
.otherIcon li span.plan { height: 16px; background-position: 0 0;}
.otherIcon li span.view { height: 12px; margin-top: 14px; background-position: 0 -35px;}
.otherIcon li span.modify { height: 18px; background-position: 0 -62px;}
.otherIcon li span.delete { height: 16px; background-position: 0 -101px;}
.otherIcon li span.add { height: 16px; background-position: 0 -136px}
.otherIcon li span.regionalCenterIcon { height: 16px; background-position: 0 -170px;}
.otherIcon li em { font-size: 14px; color: #3b3a48;}
.otherIcon li:hover em { color: #fff;}
.otherIcon li:hover span.plan { background-position: 0 -17px;}
.otherIcon li:hover span.view { background-position: 0 -48px;}
.otherIcon li:hover span.modify { background-position: 0 -82px;}
.otherIcon li:hover span.delete { background-position: 0 -119px;}
.otherIcon li:hover span.add { background-position: 0 -153px;}
.otherIcon li:hover span.regionalCenterIcon { background-position: 0 -187px;}

/*=================================== 黄金分割线: 二级区域 ===================================*/
.secondaryZoneRow {}
.szName span { position: relative; float: left; margin-left: 77px; font-size: 12px; color: #696969; text-align: left;}
.szName span:before { position: absolute; top: 15px; left: -18px; display: block; content: ''; width: 12px; height: 14px; background: url(../images/organization_02-01.png) no-repeat;}

/*=================================== 黄金分割线: 三级区域 ===================================*/
.threeRegionsRow {}
.trName span { position: relative; float: left; margin-left: 184px; font-size: 12px; color: #696969; text-align: left;}
.trName span:before { position: absolute; top: 15px; left: -18px; display: block; content: ''; width: 12px; height: 14px; background: url(../images/organization_02-01.png) no-repeat;}

/*=================================== 黄金分割线: 中心区域 ===================================*/
.regionalCenter {}
.rcName span { position: relative; float: left; margin-left: 296px; font-size: 12px; color: #696969; text-align: left;}
.rcName span:before { position: absolute; top: 15px; left: -38px; display: block; content: ''; width: 33px; height: 14px; background: url(../images/organization_02-03.png) no-repeat;}

/*=================================== 黄金分割线: 收起展开btn ===================================*/
.osOperation .switchBtnShow { float: left; width: 20px; height: 20px; margin: 10px 10px 10px 70px; background: #b8b8b8; cursor: pointer;}
.osOperation .switchBtnShow i { display: block; width: 10px; height: 10px; padding: 5px; background: url(../images/organization_03-01.png) no-repeat center center;}
.osOperation .switchBtnShow:hover { background: #53b567;}
.osOperation .switchBtnShow.g53b { background: #53b567;}
.osOperation .switchBtnHide { float: left; width: 20px; height: 20px; margin: 10px 10px 10px 70px; background: #b8b8b8; cursor: pointer;}
.osOperation .switchBtnHide i { display: block; width: 10px; height: 2px; padding: 9px 5px; background: url(../images/organization_03-02.png) no-repeat center center;}
.osOperation .switchBtnHide:hover { background: #53b567;}
.osOperation .switchBtnHide.g53b { background: #53b567;}

/*=================================== 黄金分割线: 收起展开btn2 ===================================*/
.szOperation .switchBtnShow { float: left; width: 20px; height: 20px; margin: 10px 10px 10px 70px; background: #b8b8b8; cursor: pointer;}
.szOperation .switchBtnShow i { display: block; width: 10px; height: 10px; padding: 5px; background: url(../images/organization_03-01.png) no-repeat center center;}
.szOperation .switchBtnShow:hover { background: #53b567;}
.szOperation .switchBtnShow.g53b { background: #53b567;}
.szOperation .switchBtnHide { float: left; width: 20px; height: 20px; margin: 10px 10px 10px 70px; background: #b8b8b8; cursor: pointer;}
.szOperation .switchBtnHide i { display: block; width: 10px; height: 2px; padding: 9px 5px; background: url(../images/organization_03-02.png) no-repeat center center;}
.szOperation .switchBtnHide:hover { background: #53b567;}
.szOperation .switchBtnHide.g53b { background: #53b567;}

/*=================================== 黄金分割线：收起展开btn3 ===================================*/
.trOperation .switchBtnShow { float: left; width: 20px; height: 20px; margin: 10px 10px 10px 70px; background: #b8b8b8; cursor: pointer;}
.trOperation .switchBtnShow i { display: block; width: 10px; height: 10px; padding: 5px; background: url(../images/organization_03-01.png) no-repeat center center;}
.trOperation .switchBtnShow:hover { background: #53b567;}
.trOperation .switchBtnShow.g53b { background: #53b567;}
.trOperation .switchBtnHide { float: left; width: 20px; height: 20px; margin: 10px 10px 10px 70px; background: #b8b8b8; cursor: pointer;}
.trOperation .switchBtnHide i { display: block; width: 10px; height: 2px; padding: 9px 5px; background: url(../images/organization_03-02.png) no-repeat center center;}
.trOperation .switchBtnHide:hover { background: #53b567;}
.trOperation .switchBtnHide.g53b { background: #53b567;}

/*=================================== 黄金分割线：详情弹窗 ===================================*/
.desBox { position: relative; display: none; border: 8px solid #7a7a7a; background: #fff;}
.topBox, .desCont { padding: 0 20px;}
.topBox { height: 40px; line-height: 40px; color: #333; border: 1px solid #ccc;}
.topBox span { font-weight: bold;}
.topBox .desClose { float: right; width: 40px; height: 40px; background: url(../images/organization_04-01.png) no-repeat center center;}
.desCont .container { margin-top: 20px;}
.container h3 { height: 14px; line-height: 14px; margin-bottom: 20px; padding-left: 10px; font-weight: bold; color: #3b3a48; text-align: left; border-left: 8px solid #53b567;}
.container .desContBox { height: 140px; padding: 20px; background: #f9f9f9; overflow: hidden;}
.container .desContBox h4 { margin-bottom: 20px; color: #3b3a48; text-align: center;}
.container .desContBox .desContent { line-height: 24px; color: #767676; text-align: left;}
.container .desContBox p { line-height: 14px; margin-bottom: 20px; color: #3b3a48;}
.container .desContBox p span { color: #666;}

/*节点的弹窗 0912*/
.zidingyi_box {position:relative;display:none;width:342px;height:auto;padding:34px 31px 40px;background:#fff;overflow:hidden;}
.zidingyi_box .z_rows {line-height:30px;margin-bottom:15px;}
.zidingyi_box .z_rows span, .zidingyi_box .z_rows .z_inp {float:left;color:#333;}
.zidingyi_box .z_rows span {width:100px;margin-right:10px;text-align:right;}
.zidingyi_box .z_rows span i {margin-right:4px;color:#d00202;vertical-align:middle;}
.zidingyi_box .z_rows .z_inp {display:block;width:210px;height:28px;line-height:28px;color:#a6a7a7;text-indent:10px;border:1px solid #ccc;background:#fff;}
.zidingyi_box .z_rows .z_inp:focus {border-color:#53b567;}
.zidingyi_box .z_rows label input[type="radio"] {vertical-align:middle;margin-top:-1px;margin-right:4px;}
.zidingyi_box .z_rows label.showNav {margin-right:20px;} 
.zidingyi_box .z_rows.txt_center {text-align:center;}
.zidingyi_box .z_rows.mt35 {margin-top:35px;}
.zidingyi_box .z_rows .z_confirm, .zidingyi_box .z_rows .z_cancel {width: 100px;height:30px;line-height:30px;text-align:center;border:none;cursor:pointer;}
.zidingyi_box .z_rows .z_confirm {margin-right:40px;color:#fff;background:#53b567;}
.zidingyi_box .z_rows .z_confirm:hover {background:#4da45e;}
.zidingyi_box .z_rows .z_cancel {color:#333;background:#dbdbdb;}
.zidingyi_box .z_rows .z_cancel:hover {background:#c8c8c8;}

/*1019*/
.container .desContBox {height:auto;}
.regionContMiddle {border-bottom:none;}
