@charset "utf-8";
/**/
.wrapper_box {padding:0 20px;background:#fff;}
#mask {position:fixed;top:0;left:0;bottom:0;display:none;width:100%;height:100%;background:#000;opacity:.3;filter:Alpha(opacity=30);z-index:1000;}

.title {height:55px;line-height:55px;border-bottom:1px solid #dedfdf;}
.title .title_left {line-height:14px;font-size:0;cursor:default;}
.title .title_left span {float:left;display:block;padding:20px 0;font-size:14px;color:#b9bdc4;}
.title .title_left span.title_text {color:#53b567;border-bottom:2px solid #53b567;}
.title .title_left span em {margin:0 4px;}
.title_right {height:55px;font-size:0;}
.title_right .setup_btn, .title_right .export_btn, .title_right .return {display:inline-block;width:108px;height:28px;line-height:28px;margin:13px 0 12px;font-size:14px;color:#9e9e9e;text-align:center;border:1px solid #ddd;background:#f7f7f7;}
.title_right .setup_btn:hover, .title_right .export_btn:hover, .title_right .return:hover {color:#fff;border-color:#53b567;background:#53b567;}
.title_right .setup_btn {margin-right:20px;}

.main {height:auto;margin:20px auto 40px;/*overflow:hidden;*/}
.main .left-name {float:left;width:130px;height:38px;line-height:38px;}

