@charset "utf-8";
/**/
.wrapBox { padding: 0 20px; background: #fff;}
.regionCont { width: 1130px; margin-bottom: 20px;}
.regionContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.regionContTop .topTit { line-height: 14px; font-size: 0; cursor: default;}
.regionContTop .topTit span { float: left; display: block; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.regionContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.regionContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .addProduct, .topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .addProduct:hover, .topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}

/*=================================== 黄金分割线 ===================================*/
.oergList { display: inline-block; width: 20px; height: 43px; background: url(../images/promotion_list-01.png) no-repeat center; cursor: pointer;}
.proSelect { float: left; display: block; width: 40px; height: 40px;}
.proSelect i { display:block; width: 12px; height: 6px; margin: 20px 13px 16px 13px; background: url(../images/newSys_icon-01.png) no-repeat; background-position: 0 -60px;}
.proSelect:hover i { background-position: 0 -70px;}
.otherOperation { position: relative; width: 0; display: none; z-index: 1;}
.triangle { position: absolute; top: 29px; left: 14px; width: 10px; height: 6px; background: url(../images/organization_01-01.png) no-repeat; z-index: 1;}
.otherIcon { position: absolute; top: 34px; left: -42px; width: 122px; font-size: 12px; border: 1px solid #53b567; border-radius: 3px; background: #fff; }
.otherIcon li {cursor: pointer;margin: auto; height: 40px; line-height: 40px; border-bottom: 1px solid #e7eaee;color: #767676;background: #fff;}
.otherIcon li:last-child { border-bottom: none;}
.otherIcon li:hover {background: #4dbe88;}
.otherIcon li span, .otherIcon li em { float: left; display: block;}
.otherIcon li span { width: 21px; margin: 11px 8px 0; vertical-align: middle; background: url(../images/promotion_list-02.png) no-repeat;}
.otherIcon li span.plan { height: 16px; background-position: 0 0;}
.otherIcon li span.view { height: 12px; margin-top: 14px; background-position: 0 -35px;}
.otherIcon li span.modify { height: 18px; background-position: 0 -62px;}
.otherIcon li span.delete { height: 16px; background-position: 0 -101px;}
.otherIcon li span.add { height: 16px; background-position: 0 -136px}
.otherIcon li span.regionalCenterIcon { height: 16px; background-position: 0 -170px;}
.otherIcon li em { font-size: 14px; color: #3b3a48;}
.otherIcon li:hover em { color: #fff;}
.otherIcon li:hover span.plan { background-position: 0 -17px;}
.otherIcon li:hover span.view { background-position: 0 -48px;}
.otherIcon li:hover span.modify { background-position: 0 -82px;}
.otherIcon li:hover span.delete { background-position: 0 -119px;}
.otherIcon li:hover span.add { background-position: 0 -153px;}

.product_box {position:relative;display:none;width:342px;height:auto;padding:34px 31px 40px;background:#fff;overflow:hidden;}
.product_box .z_rows {line-height:30px;margin-bottom:15px;}
.product_box .z_rows span, .product_box .z_rows .z_inp {float:left;color:#333;}
.product_box .z_rows span {width:100px;margin-right:10px;text-align:right;}
.product_box .z_rows span i {margin-right:4px;color:#d00202;vertical-align:middle;}
.product_box .z_rows .z_inp {display:block;width:210px;height:28px;line-height:28px;color:#a6a7a7;text-indent:10px;border:1px solid #ccc;background:#fff;}
.product_box .z_rows .z_inp:focus {border-color:#53b567;}
.product_box .z_rows label input[type="radio"] {vertical-align:middle;margin-top:-1px;margin-right:4px;}
.product_box .z_rows label.showNav {margin-right:20px;} 
.product_box .z_rows.txt_center {text-align:center;}
.product_box .z_rows.mt35 {margin-top:35px;}
.product_box .z_rows .z_confirm, .product_box .z_rows .z_cancel {width: 100px;height:30px;line-height:30px;text-align:center;border:none;cursor:pointer;}
.product_box .z_rows .z_confirm {margin-right:40px;color:#fff;background:#53b567;}
.product_box .z_rows .z_confirm:hover {background:#4da45e;}
.product_box .z_rows .z_cancel {color:#333;background:#dbdbdb;}
.product_box .z_rows .z_cancel:hover {background:#c8c8c8;}

/*产品线管理 0912*/
.wrapBox#productWrap .regionCont {width:auto;}
.product_box.create_box .rowSelect, .product_box.edit_box .rowSelect {width:210px;height:28px;color:#a6a7a7;border:1px solid #ccc;}
.product_box.create_box .proDescribe, .product_box.edit_box .proDescribe {width:200px;height:65px;padding:5px;font-size:14px;color:#a6a7a7;text-align:left;border:1px solid #ccc;resize:none;}

/*0922*/
.product_box .z_rows .price_tips {margin-left:10px;font-size:12px;color:#ff0000;}

/*列表*/
#productTable {width:100%;margin:20px auto 40px;font-size:12px;}
#productTable {width:100%;margin:20px auto;border:1px solid #ebeaea;border-bottom:none;background:#f5f6fa;}
#productTable tr {height:40px;line-height:40px;}
#productTable th, #productTable td {text-align:left;border-bottom:1px solid #ebeaea;}
#productTable th.firItem, #productTable td.firItem {text-indent:15px;}
#productTable th.lastItem, #productTable td.lastItem {text-indent:0;}
#productTable th, #productTable tr:hover th {font-weight:700;color:#999;background:#f5f6fa;}
#productTable th span, #productTable th i {float:left;}
#productTable td {color:#696969;background:#fff;}
#productTable td.dtOperation {position:relative;}
#productTable tr:hover td {background:#f5f6fa;}
#productTable tr:hover td .nothing {background:#fff;}