@charset "utf-8";
/**/
.wrapBox { padding: 0 20px; background: #fff;}
.proCont { width: 1130px; margin-bottom: 40px;}
.proCont2 { width: 1130px; padding-bottom: 40px;}
.proContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.proContTop .topTit { line-height: 14px; font-size: 0; cursor: default;}
.proContTop .topTit span { float: left; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.proContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.proContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}
.topRight .addAccount:hover, .topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}
.addContMiddle { padding: 30px 0 40px; background: #fff;}
.addRow { margin-bottom: 20px;width: 100%;}
.addRowLeft, .addRowRight { float: left; line-height: 30px;}
.addRowLeft { width: 125px; height: 30px; margin-right: 20px; text-align: right; color: #333;}
.addRowLeft i { margin-right: 3px; color: #d00202;}
.addRowRight { font-size: 12px; color: #555; text-align: left;}
.addRowRight .addInp, .addRowRight .addSelect, .addRowRight .addTxt { display: block; text-indent: 10px; border: 1px solid #ccc; background: #fff;}
.addRowRight .addInp { width: 468px; height: 28px; line-height: 28px;}
.addRowRight .addSelect { width: 470px; height: 30px; line-height: 30px;}
.addRowRight .addTxt { width: 460px; height: 80px; padding: 10px 5px; resize: none;}
.addRowRight .addInp:focus, .addRowRight .addSelect:focus, .addRowRight .addTxt:focus { border-color: #53b567;}
.submitBtn { display: block; width: 100px; height: 30px; line-height: 30px; margin-top: 32px; color: #fff; text-align: center; border: none; background: #53b567; cursor: pointer;}
.imUploadBox {position: relative;width: 100px;}
.imUploadBox span {position: absolute;top: 0;left: 0;display: block;width: 98px;height: 28px;line-height: 28px;font-size: 12px;color: #555;text-align: center;border: 1px solid #ccc;background: #f7f7f7;z-index: 1;}
.imUploadBox .imUploadBtn {position: absolute;top: 0;left: 0;width: 100%;height: 30px;opacity: 0;filter: alpha(opacity='0');z-index: 2;}
.topRight .addAccount{display: inline-block;width: 108px;height: 28px;line-height: 28px;margin: 13px 0 12px;font-size: 14px;color: #9e9e9e;text-align: center;border: 1px solid #ddd;background: #f7f7f7;}
.topRight .addAccount { margin-right: 20px;}
.dn{display: none;}
.newTemplate {height: auto;position: relative;width: 584px;height: 260px; /* border: 8px solid #7a7a7a; */background: #fff;}
.setTop {height: 40px;line-height: 40px;border-bottom: 1px solid #ccc;}
.setTop span {float: left;padding: 0 20px;font-weight: bold;color: #333;}
.setTop .setClose {float: right;width: 40px;height: 40px;background: url(../images/promotion_list-04.png) no-repeat center center;cursor: pointer;}
.newMiddle {margin-top: 40px;}
.newRow {padding-bottom: 20px;width: 100%;}
.newRow .newLeft, .newRow .newRight {line-height: 30px;color: #333;}
.newRow .newLeft {width: 130px;height: 30px;margin-right: 10px;text-align: right;}
.newRow .newLeft i {margin-right: 4px;color: #d00202;}
.newRow .newRight .newIpn {width: 328px;height: 28px;line-height: 28px;text-indent: 10px;border: 1px solid #ccc;background: #fff;}
.newRow .newRight .newIpn:focus{border-color: #53b567;color: #53b567;}
.newRight .setSubmit, .newRight .setCancel {display: inline-block;width: 100px;height: 30px;line-height: 30px;font-size: 14px;color: #fff;text-align: center;}
.newRight .setSubmit {margin-right: 40px;border: none;background: #53b567;float: left;}
.newRight .setCancel {background: #dbdddc;float: left;}
.newTemplate form{padding: 0 20px;}
.newRow .newRight .newIpn:focus:-moz-placeholder { color:#53b567;} 
.newRow .newRight .newIpn:focus::-webkit-input-placeholder { color: #53b567;}
.delCategory{ display: block;width: 15px;height: 16px;margin-top: 5px;margin-left: 10px;background: url(../images/newSys_icon-04.png) no-repeat;background-position: 0 -16px;cursor: pointer;}
.delCategory:hover{width: 15px;height: 16px;background-position: 0 0px; }
.newTemplate .newBtn{display: block;width: 80px;height: 16px;line-height: 16px;text-align: right; color: #53b567;margin-top: 5px;margin-left: 10px;background: url(../images/newSys_icon-04.png) no-repeat;background-position: 0 -32px;cursor: pointer;}
select option{text-indent: 1em;}
.proSearch {height: 30px;margin: 30px 0;}
.searchSelect {width: 198px;height: 30px;line-height: 30px;margin-right: 20px;font-size: 12px;color: #555;border: 1px solid #ccc;background: #fff;}
.mergeSearch {width: auto;height: 28px;line-height: 28px;font-size: 12px;color: #555;border: 1px solid #ccc;background: #fff;}
.searchSelect:focus ,.searchSelect2:focus,.mergeSearch:focus,.searchInp2:focus {border-color: #53b567;}
.searchSelect2 {float: left;width: 129px;height: 28px;text-indent: 15px;border: none;border-right: 1px solid #ccc;}
.searchInp2 {float: left;width: 198px;height: 28px;line-height: 28px;text-indent: 10px;border: none;}
.searchSearch2 {float: left;width: 66px;line-height: 28px;height: 28px;font-size: 14px;color: #fff;border: none;background: #53b567;cursor: pointer;}

.body-templateList{background: #f4f4f4;}
.templateList{padding-bottom:11px;border: 1px solid #dedfdf;background: #fff;}
.templateList ul.box{}
.templateList ul li{list-style-type: none;float: left;background: #fff;   padding-top: 11px;border-top:1px solid #ddd;border-right:1px solid #ddd; }
.templateList ul li .li-box{display: block;width: 282px;height: 302px;text-align:center;color: #fff;font-size: 30px;}
.templateList ul li .li-box .imgBox{width:261px;height: 200px;} 
.templateList ul li .li-box .imgBox img { width: 100%; vertical-align: middle;}
.templateList ul li .li-box  .orderBg{background: url(../images/tempList-id.png) no-repeat left;width: 86px;height: 30px;position: absolute;left: 11px;top: 8px;}
.templateList ul li .li-box .opacity{width: 261px;height: 45px;background: #000;opacity: .4;filter:alpha(opacity=40);position: absolute;left: 11px;}
.templateList ul li .li-box .literal{width: 231px;height: 45px; color: #fff;position: absolute;left: 11px;top: 155px;font-size: 14px;line-height: 45px;text-align: left;text-indent: 1em;cursor: pointer;}
.templateList ul li .li-box .editBox{ width: 261px;color: #fff;position: absolute;left: 11px;font-size: 14px;line-height: 45px;text-align: left;background-color: #D3E8D9;}
.templateList ul li .li-box .editBox .text-area{height: 50px;}
.templateList ul li .li-box .editBox .btnRow{height:35px;line-height:35px;text-align:center;}
.templateList ul li .li-box .editBox .btnRow input{width:68px;height:25px;line-height:25px;font-size:14px;color:#fff;border:none;background:#53b567;cursor:pointer;}
.templateList ul li .li-box .editBox .btnRow input.editRemarkBtn:hover{background:#4da45e;}
.templateList ul li .li-box .editBox .btnRow input.cancel{background:#f7f7f7;margin-left:10px;color:#9e9e9e;}
.templateList ul li .li-box .editBox .btnRow input.cancel:hover {color:#fff;background:#c8c8c8;}
.templateList ul li .li-box .editBox textarea{width: 259px;height: 48px;border: 1px solid #4dbe88;padding: 0; resize: none;}
.templateList ul li .li-box .mEdit{background: url(../images/newSys_icon-02.png) no-repeat center center;background-position: 0px -80px;position: absolute;right: 20px;top: 168px;height: 22px;width: 22px;cursor: pointer;}
.templateList ul li .li-box .mEdit:hover{background: url(../images/newSys_icon-06.png) no-repeat center center;background-position: -131px -1px;position: absolute;right: 20px;height: 22px;width: 22px;cursor: pointer;}
.templateList ul li .li-box .topic{margin-top: 16px;margin-bottom:15px;line-height: 20px;height: 20px;width: 260px;color: #555;font-size: 16px;text-align: left;text-indent: 19px;overflow: hidden;}
.templateList ul li .li-box .link{height: 18px;width: auto;}
.templateList ul li .li-box .link a{float:left;height: 18px;width: 22px;margin-left: 20px;}
.templateList ul li .li-box .link a.detail{background: url(../images/newSys_icon-05.png) no-repeat center center;background-position: 0px 0px;}
.templateList ul li .li-box .link a.edit{background: url(../images/newSys_icon-05.png) no-repeat center center;background-position: -37px 0px;}
.templateList ul li .li-box .link a.del{background: url(../images/newSys_icon-05.png) no-repeat center center;background-position: -73px 0px;}
.templateList ul li .li-box .link a.view{background: url(../images/newSys_icon-05.png) no-repeat center center;background-position: -111px 0px;}
.templateList ul li .li-box .link a.detail:hover{background: url(../images/newSys_icon-06.png) no-repeat center center;background-position: 0px -1px;}
.templateList ul li .li-box .link a.edit:hover{background: url(../images/newSys_icon-06.png) no-repeat center center;background-position: -37px -1px;}
.templateList ul li .li-box .link a.del:hover{background: url(../images/newSys_icon-06.png) no-repeat center center;background-position: -73px -1px;}
.templateList ul li .li-box .link a.view:hover{background: url(../images/newSys_icon-06.png) no-repeat center center;background-position: -111px -1px;}

/*=================================== 黄金分割线 ===================================*/
.addMiddle2 { width: 100%;  height: 35px; margin-bottom: 40px;}
/*.addMiddle2 span {display: block; height: 35px;}
.addMiddle2 .tlStep1 { background-position: 0 0;}
.addMiddle2 .tlStep2 { background-position: 0 -40px;}*/
.terminalCategory, .serviceCategories { float: left; height: 30px; line-height: 30px; margin-left: 10px; font-size: 12px; color: #53b567;}

/*=================================== 黄金分割线：模拟select ===================================*/
.select_title{ width: calc(100% - 30px); white-space: nowrap; word-break: keep-all; text-overflow: ellipsis; }
.selectbox { position:relative; width: 470px; height:30px; line-height:30px; font-size:12px;}
.selectbox dl { position:absolute; width: 468px; color: #555; border:1px solid #ccc;}
.selectbox dl.on { max-height: 150px; width: 100%; border:1px solid #ccc; overflow-y: auto; overflow-x: hidden;}
.selectbox dl dt { padding-left:10px; cursor:pointer; overflow:hidden; border-bottom: none; background: #fff;}
.selectbox dl dt.on { border-bottom:1px solid #ccc; background: #e6e6e6 none repeat scroll 0 0;}
.selectbox dl dd{ position:relative; padding:0 10px; color: #555; border-bottom:1px solid #ebebeb;background:#fff none repeat scroll 0 0; cursor:pointer; z-index: 5;}
.selectbox dl dd:last-child { border-bottom: none;}
.selectbox dl dd.on{border-bottom:1px solid #53b567;}
.selectbox dl dd:hover{ background: #eaedf1 none repeat scroll 0 0;}
.selectbox .arrow { width: 30px; height: 28px; background:transparent url(../images/Descending.png) no-repeat center center;}
.selectbox .arrow_on { background:transparent url(../images/Ascending.png) no-repeat center center;}
.selectbox .ddoption { display:none; height:200px; border: medium none; overflow-y:scroll;}
.fxDone { display: none;}
.zindex4 { z-index: 4;}

/*=================================== 黄金分割线 ===================================*/
.tlNavigation { width: 100%; height: auto; margin: 30px 0 10px;}
.tlNavBox { width: 1128px; height: 88px; line-height: 88px; margin-bottom: 30px; border: 1px solid #dedfdf;}
.tlNavBox p { font-size: 24px; color: #b9bdc4; text-align: center;}
.tlNavigation .tlTips { line-height: 12px; font-size: 12px; color: #696969; text-align: left;}


/*=================================== 黄金分割线 ===================================*/
.tlContent { padding: 0 10px; border: 1px solid #dedfdf;}

/*=================================== 黄金分割线 ===================================*/
.zhongduan, .fuwu { width: 600px;}
.zhongduan select, .fuwu select { float: left;}
.zhongduan .addAccount, .fuwu .addAccount { float: left; height: 30px; line-height: 30px; margin-left: 10px; font-size: 12px; color: #53b567;}

/*选择导航区域*/
.selectNavigation { width: 100%; padding: 36px 0 42px;}
/*三个按钮*/
.snCont { padding-left: 60px; overflow: hidden;}
.snRow { margin-bottom: 30px;}
.snRow span, .toggleBtn { float: left;}
.snRow span { width: 42px; height: 30px; line-height: 30px; margin-right: 8px; color: #333;}
.toggleBtn, .snSubmit { display: block; width: 110px; height: 30px; line-height: 30px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7; cursor: pointer;}
.snPrevious { float: left; width: 128px; height: 28px; line-height: 28px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}

.snMain { width: 100%;display:none;}
.snSearchBox { position: relative; margin-bottom: 30px;}
.snSearchBox h4 { position: absolute; top: -55px; left: -10px; line-height: 12px; font-size: 12px; color: #696969;}
.snSearchMain { height: 30px;}
.snBigOne, .snBigTwo, .snBigThr, .snBigFou { width: 122px;}
.snBigOne, .snBigTwo, .snBigThr { margin-right: 20px;}
.snBigOne dl, .snBigTwo dl, .snBigThr dl, .snBigFou dl { width: 120px;}
.snSearchInp { width: 198px; height: 30px; line-height: 30px; margin-right: 20px; font-size: 12px; color: #555; text-indent: 15px; border: 1px solid #ccc; border-left: none; background: #fff;}
.snSearchInp:focus { border-color: #53b567;}
.snSearchBtn { width: 66px; height: 30px; line-height: 30px; font-size: 12px; color: #fff; text-align: center; border: none; background: #53b567; cursor: pointer;}

.snSmallList { position: relative; min-height: 88px; margin-bottom: 50px; border: 1px solid #dedfdf;}
.snNothing { display: block; width: 125px; line-height: 24px; margin: 0 auto 0; font-size: 24px; color: #b9bdc4; text-align: center;}
.snOptout { position: absolute; top: -40px; right: 0; width: 110px; height: 30px; line-height: 30px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7; cursor: pointer;}
.smallListBox { padding: 30px 10px;}
.smallListBox ul { margin-right: -12px; overflow: hidden;}
.smallListBox li { position: relative; float: left; width: 214px; height: 226px; margin-right: 10px;margin-bottom:10px;}
.smallListBox li a { cursor: default;}
.smallListBox .boxClose { position: absolute; top: 0; right: 0; width: 22px; height: 22px; text-align: center; background: url(../images/tempList-04.png) no-repeat; cursor: pointer;}
.smallListBox .boxId { position: absolute; top: 10px; left: 0; width: 86px; height: 30px; line-height: 30px; font-size: 18px; color: #fff; text-indent: 45px; background: url(../images/tempList-id.png) no-repeat;}
.smallListBox .picBox { width: 100%; height: 170px;overflow:hidden;}
.smallListBox .picBox img { width: 100%;vertical-align:middle;}
.smallListBox .btomBox { height: 56px; background: #f3f3f3;}
.smallListBox .btomBoxBg { background: #53b567;} 
.smallListBox .btomBox .btomInp { position: absolute; bottom: 15px; left: 10px; display: block; width: 194px; height: 26px; line-height: 26px; font-size: 12px; color: #979797; text-indent: 10px; border: none; background: #fff;}

.snBigList { padding: 30px 10px 0; border: 1px solid #dedfdf;}
.snBigList ul {overflow: hidden;}
.snBigList li { position: relative; float: left; width: 268px; height: 200px; margin-right: 10px; margin-bottom: 30px; border: 1px solid #eaedf1;}
.snBigList li:hover { border-color: #53b567;}
.snBigList .picBox { width: 268px; height: 200px;overflow:hidden;}
.snBigList .picBox img { width: 100%;vertical-align: middle;}
.snBigList .snId { position: absolute; top: 10px; left: 0; width: 86px; height: 30px; line-height: 30px; font-size: 18px; color: #fff; text-indent: 45px; background: url(../images/tempList-id.png) no-repeat;}
.snBigList .snLiteral { position: absolute; bottom: 0; left: 0; width: 100%; height: 37px; line-height: 37px; font-size: 12px; color: #fff; text-indent: 11px; background: url(../images/tempList-03.png) repeat-x;}

.snBigBoxBtom { height: 32px; margin-bottom: 40px; text-align: right;}
.bigBoxBtomLeft { float: left; width: 292px;}
.ml30 { margin-left: 30px;}
.templateList ul.desLi li {padding-top: 0;}
.templateList.desTplist { padding-left: 20px;}

/*=================================== 黄金分割线：搜索部分 ===================================*/
.selectbox {width:152px;margin-right: 20px;font-size:12px;height:30px;line-height:30px;position:relative;}
.selectbox dl {width:100%;border:1px solid #ccc;color:#555;margin:0;position:absolute;}
.selectbox dl.on {background: #fff;border:1px solid #ccc;overflow-y: auto;overflow-x: hidden;max-height: 150px;width: calc(100% + 10px);}
.selectbox dl dt {cursor:pointer;overflow:hidden;padding-left:10px;border-bottom: none;background: #fff;}
.selectbox dl dt.on {background:#e6e6e6 none repeat scroll 0 0;border-bottom:1px solid #ccc;}
.selectbox dl dd {background:#fff none repeat scroll 0 0;border-bottom:1px solid #ccc;cursor:pointer;margin:0;padding:0 10px;position:relative;z-index:5;}
.selectbox dl dd.on{border-bottom:1px solid #ccc;}
.selectbox dl dd:hover{background:#eaedf1 none repeat scroll 0 0;color:#555;}
.selectbox dl dd:last-child { border-bottom: none;}
.selectbox .arrow {background:transparent url(../images/Descending.png) no-repeat scroll 8px 12px;height:30px;width:30px;background-position-x: 8px;background-position-y: 12px;}
.selectbox .arrow_on {background:transparent url(../images/Ascending.png) no-repeat scroll 8px 12px;background-position-x: 8px;background-position-y: 12px;}
.select_title {overflow: hidden;width: calc(100% - 30px);white-space: nowrap;word-break: keep-all;text-overflow: ellipsis;}
.fxDone { display: none;}

.feSearchBox {width: auto;height: 30px;line-height: 30px;}
.searchInp {width: 130px;margin-right: 0;}
.feInp { float: left; width: 198px; height: 30px; line-height: 30px; margin-right: 20px; font-size: 12px;text-indent: 20px; color: #555; border: 1px solid #ccc; border-left: none;}
.feSearchSubmit { float: left; width: 66px; height: 30px; line-height: 30px; font-size: 12px; color: #fff; border: none; background: #53b567; cursor: pointer;}

/*0912*/
.wrapBox#pageWrap .proCont2 {width:auto;}
.wrapBox#pageWrap .proCont2 .templateList {padding-bottom:0;border:1px solid #dedfdf;border-top:none;border-right:none;background:none;}
.wrapBox#pageWrap .templateList li {width:24.9%;padding-top:0;}
.wrapBox#pageWrap .templateList li .li-box {width:100%;}
.wrapBox#pageWrap .templateList li .li-box .imgBox {position:relative;width:auto;margin:10px 10px 0 10px;overflow:hidden;}
.wrapBox#pageWrap .templateList li .li-box .orderBg {top:10px;left:0;}
.wrapBox#pageWrap .templateList li .li-box .orderBg span {display:block;width:45px;height:30px;line-height:30px;padding-left:35px;font-size:16px;text-align:left;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;cursor:default;}
.wrapBox#pageWrap .templateList li .li-box .opacity {width:100%;bottom:0;left:1px;}
.wrapBox#pageWrap .templateList li .li-box .literal {width:auto;left:11px;}
.wrapBox#pageWrap .templateList li .li-box .editBox {width:100%;bottom:0;left:1px;}
.wrapBox#pageWrap .templateList li .li-box .editBox .text-area {padding:0 1px;}
.wrapBox#pageWrap .templateList li .li-box .editBox .text-area textarea {width:99%}
.wrapBox#pageWrap .templateList li .li-box .topic {width:auto;text-indent:20px;}
.wrapBox#pageWrap .proCont2 .pageJump {margin-right:0;}

.wrapBox#addPagesWrap .proCont {width:auto;}
.wrapBox#addPagesWrap .proCont .fl {float:left;}
.wrapBox#addPagesWrap .proCont .fr {float:right;}
.wrapBox#addPagesWrap .addMiddle2 span {position:relative;height:35px;}
.wrapBox#addPagesWrap .addMiddle2 span.tlStep1 {width:49%;}
.wrapBox#addPagesWrap .addMiddle2 span.tlStep2 {width:50%;}
.wrapBox#addPagesWrap .addMiddle2 span em {position:absolute;top:0;left:0;width:100%;height:35px;line-height:35px;font-size:18px;color:#fff;text-align:center;background:#53b567;z-index:1000;}
.wrapBox#addPagesWrap .addMiddle2 span i {position:absolute;top:0;display:block;width:12px;height:35px;z-index:1100;}
.wrapBox#addPagesWrap .addMiddle2 span.tlStep1 i {right:0;background:url(../images/tempList-05.jpg) no-repeat;}
.wrapBox#addPagesWrap .addMiddle2 span.tlStep2 i {left:0;background:url(../images/tempList-06.jpg) no-repeat;}
.wrapBox#addPagesWrap .selectbox.snBigFou {margin-right:0;}
.wrapBox#addPagesWrap .uploadPicBox {width:220px;height:150px;overflow:hidden}

.wrapBox#addPagesWrap .smallListBox ul {margin-right:-1%;}
.wrapBox#addPagesWrap .smallListBox li {width:19%;margin-right:1%;}
.wrapBox#addPagesWrap .snBigList ul {margin-right:-.8%;}
.wrapBox#addPagesWrap .snBigList li {width:24%;margin-right:.8%;}
.wrapBox#addPagesWrap .snBigList li a {display:block;height:200px;}
.wrapBox#addPagesWrap .snBigList .picBox {width:100%;}
.wrapBox#addPagesWrap .snBigList .snId {text-indent:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.wrapBox#addPagesWrap .snBigList .snId span {display:block;width:45px;height:30px;line-height:30px;padding-left:35px;font-size:18px;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;cursor:default;}

.wrapBox#addPagesWrap .bigBoxBtomRight {float:right;}
.wrapBox#addPagesWrap .pageCount {line-height:30px;}
.wrapBox#addPagesWrap .pageJump {margin-right:0;}
