@charset "utf-8";
/**/
.wrapper_box {padding:0 20px;background:#fff;}

.title {height:55px;line-height:55px;border-bottom:1px solid #dedfdf;}
.title .title_left {line-height:14px;font-size:0;cursor:default;}
.title .title_left span {float:left;display:block;padding:20px 0;font-size:14px;color:#b9bdc4;}
.title .title_left span.title_text {color:#53b567;border-bottom:2px solid #53b567;}
.title .title_left span em {margin:0 4px;}
.title_right {height:55px;font-size:0;}
.title_right .add_number {display:inline-block;width:108px;height:28px;line-height:28px;margin:13px 0 12px;font-size:14px;color:#9e9e9e;text-align:center;border:1px solid #ddd;background:#f7f7f7;}
.title_right .add_number:hover {color:#fff;border-color:#53b567;background:#53b567;}
.title_right .send_msg {display:inline-block;width:108px;height:28px;line-height:28px;margin:13px 0 12px;font-size:14px;color:#9e9e9e;text-align:center;border:1px solid #ddd;background:#f7f7f7;}
.title_right .send_msg:hover {color:#fff;border-color:#53b567;background:#53b567;}
.main {margin:20px auto;}
.main #numbeer_list {width:100%;border:1px solid #e1e6eb;border-bottom:none;}

#numbeer_list tr {height:43px;line-height:43px;font-size:14px;}
#numbeer_list th, #numbeer_list td {text-align:left;border-bottom:1px solid #e1e6eb;background:#fff;}
#numbeer_list th.first_item, #numbeer_list td.first_item {text-indent:39px;}
#numbeer_list th {font-weight:700;color:#999;}
#numbeer_list th.last_item {text-indent:8px;}
#numbeer_list td {color:#333;}
#numbeer_list td a {float:left;width:43px;height:43px;line-height:43px;text-align:center;color:#333;}
#numbeer_list td a.call_enable, #numbeer_list td a.call_disable, #numbeer_list td a.call_edit {margin-right:15px;}
#numbeer_list tr.for_head th {background: #f5f6fa;}
#numbeer_list tr:hover td {background: #f5f6fa;}

/*  弹窗  */	
.call_addbox {position:relative;display:none;width:450px;height:auto;background:#fff;}
.call_addbox .box_main {margin:20px 20px;}
.call_addbox .txt_center {text-align:center;}
.call_addbox .rows {line-height:30px;margin-bottom:15px;}
.call_addbox .rows span, .call_addbox .rows .box_right {float:left;}
.call_addbox .rows span {width:90px;height:30px;line-height:30px;margin-right:20px;color:#333;text-align:right;}
.call_addbox .rows .box_right {text-align:left;}
.call_addbox .rows .call_inp {width:268px;height:28px;line-height:28px;text-indent:5px;border:1px solid #ccc;background:#fff;}
.call_addbox .rows select {width:270px;height:30px;color:#333;border:1px solid #ccc;}
.call_addbox .rows .btn_confirm, .call_addbox .rows .btn_cancel {width:98px;height:30px;line-height:30px;margin-top:25px;text-align:center;border:none;cursor:pointer;} 
.call_addbox .rows .btn_confirm {margin-right:40px;color:#fff;background:#53b567;}
.call_addbox .rows .btn_confirm:hover {background:#4da45e;}
.call_addbox .rows .btn_cancel {color:#333;background:#dbdbdbd;}
.call_addbox .rows .btn_cancel:hover {background:#c8c8c8;}

.layui-layer-btn {text-align:center !important;}

/**/
.fir_tips {color:#ff0000;}
#numbeer_list tr.curr th, #numbeer_list tr.curr td {background:#ddd;}
#numbeer_list tr.curr th, #numbeer_list tr.curr td, #numbeer_list tr.curr a {color:#767676;}
