@charset "utf-8";

/*=================================== 黄金分割线：分页 ===================================*/
.selectbox {width:152px;margin-right: 20px;font-size:12px;height:30px;line-height:30px;position:relative;}
.selectbox dl {width:100%;border:1px solid #ccc;color:#555;margin:0;position:absolute;}
.selectbox dl.on {background: #fff;border:1px solid #ccc;overflow-y: auto;overflow-x: hidden;max-height: 150px;width: calc(100% + 10px);}
.selectbox dl dt {cursor:pointer;overflow:hidden;padding-left:10px;border-bottom: none;background: #fff;}
.selectbox dl dt.on {background:#e6e6e6 none repeat scroll 0 0;border-bottom:1px solid #ccc;}
.selectbox dl dd {background:#fff none repeat scroll 0 0;border-bottom:1px solid #ccc;cursor:pointer;margin:0;padding:0 10px;position:relative;z-index:5;}
.selectbox dl dd.on{border-bottom:1px solid #ccc;}
.selectbox dl dd:hover{background:#eaedf1 none repeat scroll 0 0;color:#555;}
.selectbox dl dd:last-child { border-bottom: none;}
.selectbox .arrow {background:transparent url(../images/Descending.png) no-repeat scroll 8px 12px;height:30px;width:30px;background-position-x: 8px;background-position-y: 12px;}
.selectbox .arrow_on {background:transparent url(../images/Ascending.png) no-repeat scroll 8px 12px;background-position-x: 8px;background-position-y: 12px;}
.select_title {overflow: hidden;width: calc(100% - 30px);white-space: nowrap;word-break: keep-all;text-overflow: ellipsis;}
.fxDone { display: none;}

.feSearchBox {width: auto;height: 30px;line-height: 30px;}
.searchInp {width: 130px;margin-right: 0;}
.feInp { float: left; width: 198px; height: 30px; line-height: 30px; margin-right: 20px; font-size: 12px;text-indent: 20px; color: #555; border: 1px solid #ccc; border-left: none;}
.feSearchSubmit { float: left; width: 66px; height: 30px; line-height: 30px; font-size: 12px; color: #fff; border: none; background: #53b567; cursor: pointer;}
