/**/
.wrapBox { width: 1130px;  margin: 0 20px; background: #fff;}
.feCont {margin-bottom:10px;}
.feContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.feContTop .topTit { line-height: 14px; font-size: 0; cursor: default;}
.feContTop .topTit span { float: left; display: block; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.feContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.feContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}

/*======================================== 黄金分割线 ========================================*/
.shortcutButton {margin-bottom:10px;}
.shortcutButton .sbTop { width: 100%; height: 30px; line-height: 30px; background: #eaeaea;}
.sbTop span { float: left; padding-left: 20px; line-height: 30px; color: #333;}
.sbTop i {float:right;width:30px;height:30px;padding-right:34px;color #333;text-align:center;cursor:pointer;}
.sbTop i:hover { color: #53b567;}
.sbCont { width: 1128px; height: 129px; border: 1px solid #dedfdf; border-top: none;}
.sbCont .sbContBd { margin-right: -4px;}
.sbCont ul {padding:5px 34px 18px;overflow:hidden;}
.sbCont li { float: left; width: 130px; height: 60px; line-height: 60px; margin-right: 3px;}
.sbCont li a { display: block; width: 100%; height: 60px; color: #fff; text-align: center;}
.sbCont li a.sbOne { background: #f9c13a;}
.sbCont li a.sbTwo { background: #9ccb59;}
.sbCont li a.sbThr { background: #59cb87;}
.sbCont li a.sbFou { background: #b4cb59;}
.sbCont li a.sbFiv { background: #53b5b4;}
.sbCont li a.sbSix { background: #5394b5;}
.sbCont li a.sbSev { background: #5383b5;}
.sbCont li a.sbEig { background: #53b5a6;}
.sbCont li a.sbOne:hover { background: #dfab2d;}
.sbCont li a.sbTwo:hover { background: #8ebd4b;}
.sbCont li a.sbThr:hover { background: #4fbf7c;}
.sbCont li a.sbFou:hover { background: #a5bc4b;}
.sbCont li a.sbFiv:hover { background: #49a8a7;}
.sbCont li a.sbSix:hover { background: #4584a4;}
.sbCont li a.sbSev:hover { background: #4876a6;}
.sbCont li a.sbEig:hover { background: #48a798;}

/*======================================== 黄金分割线 ========================================*/
.msgBox { margin-bottom: 40px;}
.systemUpdate, .announcement { float: left;}
.systemUpdate { margin-right: 29px;}
.msgBoxTop { width: 550px; height: 32px; line-height: 32px; background: #eaeaea;}
.msgBoxTop span { float: left; padding-left: 20px; color: #333;}
.msgBoxTop em { float: right; padding-right: 20px; font-size: 12px; color: #767676; cursor: pointer;}
.msgBoxTop em:hover { color: #53b567;}
.msgBoxCont { width: 548px; height: 264px; border: 1px solid #e1e6eb; border-top: none;/* border-bottom: none;*/ overflow: hidden;}
.msgBoxCont li { height: 43px; line-height: 43px; border-bottom: 1px solid #e1e6eb;}
.msgBoxCont li a { display: block; width: 100%; height: 43px; cursor: pointer;}
.msgBoxCont .msgNum, .msgBoxCont .msgHint { float: left; height: 43px; color: #696969; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.msgBoxCont .msgNum {padding-left:20px;padding-right:30px;text-indent: 3px;}
.msgBoxCont .msgDate {float:right;margin-right:20px;color:#696969;}
.msgBoxCont .msgIcon { float: left; margin-left: 20px; width: 50px; height: 43px; background: url(../images/home_01-01.png) no-repeat center left;}
.msgBoxCont a:hover .msgHint { color: #53b567; text-decoration: underline;}

/*======================================== 黄金分割线 ========================================*/
.sbBox { position: relative; display: none; border: 8px solid #7a7a7a; background: #fff;}
.sbBoxTop { width: 734px; height: 40px; line-height: 40px; border-bottom: 1px solid #ccc;}
.sbBoxTop span { float: left; line-height: 40px; padding-left: 22px; color: #333; text-align: left;}
.sbBoxTop i { float: right; width: 40px; height: 40px; margin-right: 5px; background: url(../images/promotion_list-04.png) no-repeat center center; cursor: pointer;}

.sbDrag { margin: 20px;}
.sbDrag h4 { line-height: 14px; margin-bottom: 10px; color: #666; text-align: left;}
.sbDrag ul { height: 30px;}
.sbDrag li { float: left; width: 85.6px; height: 30px; line-height: 30px; font-size: 12px; font-family: "宋体"; text-align: center; border: 1px solid #efefef;}
.sbDrag li a { display: block; width: 100%; color: #333;}
.sbDrag li a:hover { background: #eaeaea;}

.sbDisplayBtn { margin: 20px 20px 30px;}
.sbDisplayBtn h3 { line-height: 14px; margin-bottom: 10px; color: #666; text-align: left;}
.sbDisplayBtn .btnBox { height: 333px; border: 1px solid #ccc; border-right: none; overflow-y: scroll;}
.itemBox { min-height: 95px; padding: 0 10px; border-bottom: 1px solid #ccc;}
.itemBox h4 { line-height: 14px; margin-bottom: 15px; padding-top: 20px; color: #333; text-align: left;}
.itemBox .itenBd { margin-right: -14px;}
.itemBox ul { overflow: hidden;}
.itemBox li { float: left; width: 122px; height: 32px; line-height: 32px; margin-right: 11px; margin-bottom: 10px; font-size: 12px; text-align: center; border: none; background: #eaeaea;}
.itemBox li a { display: block; width: 100%; color: #333;}
.itemBox li a.itemCurr { color: #fff; background: #53B567;}


.sbBtnBox { margin: 30px 0; font-size: 0; text-align: center;}
.submitBtn, .resetBtn { display: inline-block; width: 100px; height: 32px; line-height: 32px; font-size: 14px; color: #fff; border: none; cursor: pointer;}
.submitBtn { margin-right: 40px; background: #53b567;}
.resetBtn { background: #dbdddc;}

.on_btn{background: #53B567;color:#fff !important;}

/*0906*/
.wrapBox#homeWrap {width:auto;min-width:1130px;}
.wrapBox#homeWrap .sbCont {width:auto;height:auto;}
.systemUpdate, .announcement {width:49%;height:297px;overflow:hidden;}
.systemUpdate {margin-right:2%;}
.msgBoxTop, .msgBoxCont {width:auto;}
.msgBoxCont {height:auto;min-height:264px;}

/*1115*/
.statistics-show {width:100%;height:auto;margin-bottom:10px;background:#fff;}
.statistics-show .show-top {height:32px;line-height:32px;font-size:12px;color:#333;text-align:left;background:#eaeaea;}
.statistics-show .show-top .top-left {float:left;height:32px;line-height:32px;;}
.statistics-show .show-top .left-name {margin-left:20px;margin-right:32px;font-size:14px;font-weight:bold;}
.statistics-show .show-top p {display:inline-block;}
.statistics-show .show-top .top-right {float:right;height:32px;line-height:32px;margin-right:20px;}
.statistics-show .show-top .top-right:hover {color:#53b567;cursor:pointer;}
.statistics-show #show_tabele {width:100%;height:auto;margin-top:-1px;border:1px solid #dedfdf;border-top:none;}
.statistics-show #show_tabele tr {}
.statistics-show #show_tabele th, .statistics-show #show_tabele td {text-align:center;}
.statistics-show #show_tabele th {height:46px;line-height:46px;font-size:14px;color:#333;font-weight:bold;background:#bae1c2;}
.statistics-show #show_tabele td {height:65px;line-height:65px;color:#333;}
