@charset "utf-8";
/**/
.wrapper_box {padding:0 20px;background:#fff;}

.title {height:55px;line-height:55px;border-bottom:1px solid #dedfdf;}
.title .title_left {line-height:14px;font-size:0;cursor:default;}
.title .title_left span {float:left;display:block;padding:20px 0;font-size:14px;color:#b9bdc4;}
.title .title_left span.title_text {color:#53b567;border-bottom:2px solid #53b567;}

.main {height:auto;margin:20px auto 40px;/*overflow:hidden;*/}
/*条件搜索*/
.search {height:74px;background:#eaeaea;}
/*头像*/
.search_pic {height:56px;line-height:56px;margin-right:36px;margin-left:20px;padding:9px 0;}
.search_pic .picbox {width:56px;height:56px;}
.search_pic .picbox img {display:block;width:100%;}
.search_pic span {float:left;margin-left:24px;color:#333;}

/*日期选择*/
.search .search_day {width:auto;height:40px;line-height:40px;margin-right:50px;padding:16px 0;}
.search .search_day .startime_box, .search .search_day .endtime_box {width:auto;height:40px;line-height:40px;font-size:14px;background:#fff;}
.search_day .startime_box span {float:left;width:64px;height:40px;line-height:40px;text-align:center;background:#c9c8c8;}
.search_day .afTime {float:left;display:block;width:181px;height:38px;line-height:38px;color:#333;text-indent:13px;border:1px solid #dedfdf;background:#fff url(../images/market_search-03.png) no-repeat 145px center;}
.search_day .afTime:focus {border-color:#53b567;background:#fff url(../images/market_search-04.png) no-repeat 145px center;}
.search_day p {float:left;padding:0 12px;color:#333;}
/*搜索确定按钮*/
.search .search_btn {width:64px;height:40px;line-height:40px;margin-left:10px;margin-right:10px;color:#fff;text-align:center;border:none;background:#53b567;cursor:pointer}

/*主体中间公共*/
.main_title {display:block;width:100%;height:32px;line-height:32px;font-size:14px;font-weight:700;color:#333;text-indent:20px;background:#eaeaea;}
/*汇总统计*/
.main .collect {height:142px;margin:20px auto 48px;background:#fff;}
.collect #collecr_table {width:100%;border:1px solid #e1e6eb;border-top:none;}
.collect #collecr_table tr {font-size:14px;color:#333;}
.collect #collecr_table th, .collect #collecr_table td {text-align:left;}
.collect #collecr_table th.firItem, .collect #collecr_table td.firItem {text-indent:47px;}
.collect #collecr_table th {line-height:45px;background:#bae1c2;}
.collect #collecr_table td {line-height:65px;border-top:1px solid #e1e6eb;background:#fff;}

/*单项统计*/
.main .individual_event {width:100%;margin-bottom:50px;}
.individual_event .chart_container {width:100%;height:auto;overflow:hidden;}
.chart_container .chart_tab {width:12.8%;height:auto;border:1px solid #d9d9d9;border-bottom:none;}
.chart_container .chart_tab li {float:left;width:100%;height:38px;line-height:38px;color:#333;text-align:center;border-bottom:1px solid #d9d9d9;cursor""}
.chart_container .chart_tab li.cur, .chart_container .chart_tab li:hover {color:#fff;background:#53b567;}
.chart_container .chart_main {display:none;width:87%;height:auto;}
.chart_container .chart_main.active {display:block;}
.chart_main .chart_top {height:38px;line-height:38px;color:#333;background:#bae1c2;}
.chart_main .chart_top span.chart_toptitle {padding-left:25px;}
.chart_main .chart_top .chart_topright {height:25px;line-height:25px;padding:6.5px 10px 6.5px 0;}
.chart_main .chart_top .chart_topright p {float:left;margin-right:8px;}
.chart_main .chart_top .chart_topright select {width:205px;height:25px;font-size:12px;border:none;background:white;}
.chart_main .chart_content {height:507px;border:1px solid #d9d9d9;border-left:none;overflow:hidden;}

.chart_content.new_amount .please_select {display:none;text-align:center;}
.chart_content.new_amount .please_select p {margin-top:30px;font-size:18PX;color:#333;}
.chart_content.new_amount .please_select p i {display:block;width:74px;height:74px;margin:0 auto 10px;background:url(../images/lose_01-02.png) no-repeat;}
.chart_content.new_amount .daily_stats {width:100%;margin-top:40px;border-right:1px solid #d9d9d9;}
.chart_content.new_amount .daily_stats2, .daily_stats3 {display:none;}
.chart_content.new_amount .channel_bar {float:left;width:65%;height:200px;}
.chart_content.new_amount .channel_pie {float:right;width:35%;height:300px;}


/*统计报表*/
.main .statistics_report {width:100%;margin-bottom:20px;}
.statistics_report .sr_time {height:29px;line-height:29px;font-size:12px;color:#333;text-indent:20px;}
.statistics_report .sr_table {display:none;}
.statistics_report .sr_table.active {display:block;}
.statistics_report #sr_everyday {width:100%;border:1px solid #dedfdf;border-bottom:none;}
#sr_everyday tr {height:43px;line-height:43px;}
#sr_everyday tr.sr_total {height:63px;line-height:63px;}
#sr_everyday th, #sr_everyday td {color:#333;text-align:center;border-bottom:1px solid #dedfdf;}
#sr_everyday th {font-size:12px;cursor:pointer;}
#sr_everyday th .container {position:relative;height:43px;background:#c9c8c8;}
#sr_everyday .container span {display:block;height:43px;}
#sr_everyday .container i {position:absolute;top:0;right:1px;display:block;width:43px;height:43px;background:url(../images/market_sort-01.png) no-repeat 2px center;}
#sr_everyday .container i.sr_down {background:url(../images/market_sortdown-01.png) no-repeat 2px center;}
#sr_everyday .container i.sr_up {background:url(../images/market_sortup-03.png) no-repeat 2px center;}
#sr_everyday .container:hover {background:#53b567;}
#sr_everyday .container:hover span {color:#fff;}
#sr_everyday .container:hover i {background:url(../images/market_sort-02.png) no-repeat 2px center}
#sr_everyday .container:hover i.sr_down {background:url(../images/market_sortdown-02.png) no-repeat 2px center;}
#sr_everyday .container:hover i.sr_up {background:url(../images/market_sortup-04.png) no-repeat 2px center;}
#sr_everyday td {font-size:14px;color:#696969;background:#fff;}
#sr_everyday td.red {color:#ff0000;}
#sr_everyday tr.sr_total:hover td {background:#fff;}
#sr_everyday tr:hover td {background:#f5f6fa;}

/*0923*/
.search_pic span {width:180px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.search .search_des_area {width:120px;height:40px;color:#999;padding:0 10px;background:#ccc;cursor:default;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/*0927*/
.chart_content.new_amount .please_select p {margin-top:150px;}

/*0929*/
.statistics_report .sr_table .tab-container {overflow-x:auto;overflow-y:hidden;}
#sr_everyday th, #sr_everyday td {min-width:80px;}

/*1019*/
#sr_everyday th.one-item, #sr_everyday td.one-item {min-width:110px;}
#sr_everyday .container i {width:20px;}

/*1114*/
.search_pic .search_name {float:left;width:180px;margin-left:24px;color:#333;}
.search-position {height:38px;line-height:38px;margin:8px 0px 8px 4px;border:1px solid #dedfdf;} 