/**/
.wrapBox { padding: 0 20px; background: #fff; overflow: hidden;}
.infoCont { width: 1130px;margin-bottom: 40px;}
.infoContTop { height: 54px; line-height: 54px; border-bottom: 1px solid #dedfdf;}
.infoContTop .topTit { line-height: 14px; padding: 20px 0; color: #53b567; border-bottom: 2px solid #53b567; cursor: default;}
.topRight { height: 55px; font-size: 0;}
.topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}

.infoContMiddle { margin-top: 40px;}
.pnModule { height: auto; overflow: hidden;}
.moduleTit {height:20px;}
.moduleTit .topLeft, .moduleTit span {float:left;}
.moduleTit .topLeft {width:8px;height:15px;margin-top:5px;background:#53b567;}
.moduleTit span {line-height:16px;margin-top:4px;padding:0 14px 0 10px;font-size:16px;color:#3b3a48;text-align:left;background:#fff;}
.moduleTit .leftFont i { float: left; width: 8px; height: 16px; margin-right: 10px; margin-left: 45px; background: #53b567;}
.moduleTit .rightLine { width: 990px; height: 1px; margin-top: 8px; background: #efefef;}
.moduleTit em {display:block;width:100%;margin-top:12px;border-top:1px solid #efefef;}
.moduleCont { padding: 37px 0; overflow: hidden;}
.moduleCont .mcLeft, .moduleCont .mcRight { float: left; width: 525px;}
.moduleCont .mcRow {/* line-height: 30px;*/ height: 14px; margin-bottom: 20px;}
.moduleCont .mcRow .mcRowLeft, .moduleCont .mcRow .mcRowRight { float: left; line-height: 16px;}
.moduleCont .mcRow .mcRowLeft { width: 240px; margin-right: 20px; color: #333; text-align: right;}
.moduleCont .mcRow .mcRowLeft img { width: 100px; height: 100px; vertical-align: middle;}
.moduleCont .mcRow .mcRowRight { width: 305px; color: #a6a7a7; text-align: left;}
.moduleCont .mcRow .mcRowRight .uploadBox {position:relative;width:69px;height:30px;margin-top:70px;}
.moduleCont .mcRow .mcRowRight .uploadBox span, .moduleCont .mcRow .mcRowRight .uploadBox .uploadBtn { position: absolute; bottom: 0; left: 0; display: block; width: 69px; height: 30px;}
.moduleCont .mcRow .mcRowRight .uploadBox span { line-height: 30px; color: #6e6d6e; text-align: center; background: #efefef; z-index:1;}
.moduleCont .mcRow .mcRowRight .uploadBox .uploadBtn { opacity: 0; filter: alpha(opacity='0'); z-index: 3; cursor: default;}

/*changePWD*/
.changeRow {/* line-height: 30px;*/ height: 30px; margin-bottom: 20px;}
.middleLeft, .middleRight {  float: left; line-height: 30px;}
.changeRow .middleLeft { width: 120px; margin-right: 20px; color: #333; text-align: right;}
.changeRow .middleRight { width: 990px; color: #a6a7a7; text-align: left;}
.changeInp { display: block; width: 468px; height: 28px; line-height: 28px; color: #696969; text-align: left; text-indent: 20px; border: 1px solid #ccc;}
.changeInp:focus { border-color: #53b567;}
.changeSubmit { display: block; width: 94px; height: 30px; line-height: 30px; margin-top: 20px; color: #fff; text-align: center; border: none; background: #53b567; cursor: pointer;}
.changeCodes { float: left; width: 341px; margin-right: 17px;}
.changeObtain { float: left; width: 110px; height: 30px; line-height: normal; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #fff; cursor: pointer;} 

/*0908*/
.wrapBox#personWrap .infoCont, .wrapBox#pwdWrap .infoCont {width:auto;min-width:1130px;}
.wrapBox#personWrap .infoContMiddle {padding-left:40px;}
.wrapBox#personWrap .moduleCont .mcRow .mcRowLeft {width:200px;}
.wrapBox#personWrap .moduleCont .mcRow .mcRowRight {width:auto;}
.wrapBox#pwdWrap .infoCont