/**/
.wrapBox { padding: 0 20px; background: #fff;}
.rightsCont { width: 1130px; margin-bottom: 20px;}
.rightsContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.rightsContTop .topTit { line-height: 14px; font-size: 0; cursor: default;}
.rightsContTop .topTit span { float: left; display: block; padding: 20px 0; font-size: 14px; color: #b9bdc4;}
.rightsContTop .topTit span.masterList { color: #53b567; border-bottom: 2px solid #53b567;}
.rightsContTop .topTit span em { margin: 0 4px;}
.topRight { height: 55px; font-size: 0;}
.topRight .addPermissions, .topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .addPermissions:hover, .topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}
.topRight .addPermissions { margin-right: 20px;}

/*=================================== 黄金分割线 ===================================*/
.rightsMiddle { margin: 20px auto 40px; font-size: 12px; border: 1px solid #e1e6eb;}
.rightsMiddle dl { position: relative; min-height: 40px; border-bottom: 1px solid #e1e6eb;}
.rightsMiddle dl:last-child { border-bottom: none;}
.rightsMiddle dl:hover { background: #ebebeb;}
.rightsMiddle dl.regionTit, dl.region:hover { background: #f5f6fa;}
.rightsMiddle dt, .rightsMiddle dd { float: left; line-height: 43px; word-wrap:break-word; word-break:break-all;}
.rightsMiddle dt { font-weight: bold; color: #999;}
.rightsMiddle dd { color: #696969;}
.regionSequence span, .regionSequence .oergList { float: left;}
.oergList { display: inline-block; width: 20px; height: 43px; background: url(../images/promotion_list-01.png) no-repeat center; cursor: pointer;}
.rightsMiddle .wOne { width: 8.7%; padding-left: 15px;}
.rightsMiddle .wTwo { width: 7.9%;}
.rightsMiddle .wThr { width: 12.5%;}
.rightsMiddle .wFou { width: 20.3%;}
.rightsMiddle .wFiv { width: 26.5%;}
.rightsMiddle .wSix { width: 12.2%;}
.rightsMiddle .wSev { width: 10.4%;}

.sequenceInp { width: 58px; height: 28px; line-height: 28px; margin: 6px 0; color: #707070; text-align: center; border: 1px solid #d8d6d6; background: #fff;}
.sequenceInp:focus { border-color: #53b567;}
.rightsSelect { float: left; display: block; width: 40px; height: 40px;}
.rightsSelect i { display: inline-block; width: 12px; height: 6px; margin-left: 13px; background: url(../images/newSys_icon-01.png) no-repeat; background-position: 0 -60px;}
.rightsSelect:hover i { background-position: 0 -70px;}
.otherOperation { position: relative; width: 0; display: none; z-index: 1;}
.triangle { position: absolute; top: 29px; left: 14px; width: 10px; height: 6px; background: url(../images/organization_01-01.png) no-repeat; z-index: 1;}
.otherIcon { position: absolute; top: 34px; left: -42px; width: 122px; font-size: 12px; border: 1px solid #53b567; border-radius: 3px; background: #fff; }
.otherIcon li {cursor: pointer;margin: auto; height: 40px; line-height: 40px; border-bottom: 1px solid #e7eaee;color: #767676;background: #fff;}
.otherIcon li:last-child { border-bottom: none;}
.otherIcon li:hover {background: #4dbe88;}
.otherIcon li span, .otherIcon li em { float: left; display: block;}
.otherIcon li span { width: 21px; margin: 11px 8px 0; vertical-align: middle; background: url(../images/promotion_list-02.png) no-repeat;}
.otherIcon li span.plan { height: 16px; background-position: 0 0;}
.otherIcon li span.view { height: 12px; margin-top: 14px; background-position: 0 -35px;}
.otherIcon li span.modify { height: 18px; background-position: 0 -62px;}
.otherIcon li span.delete { height: 16px; background-position: 0 -101px;}
.otherIcon li span.add { height: 16px; background-position: 0 -136px}
.otherIcon li span.regionalCenterIcon { background-position: 0 -170px;}
.otherIcon li span.set { height: 19px; background-position: 0 -204px}
.otherIcon li em { font-size: 14px; color: #3b3a48;}
.otherIcon li:hover em { color: #fff;}
.otherIcon li:hover span.plan { background-position: 0 -17px;}
.otherIcon li:hover span.view { background-position: 0 -48px;}
.otherIcon li:hover span.modify { background-position: 0 -82px;}
.otherIcon li:hover span.delete { background-position: 0 -119px;}
.otherIcon li:hover span.add { background-position: 0 -153px;}
.otherIcon li:hover span.regionalCenterIcon { background-position: 0 -187px;}
.otherIcon li:hover span.set { background-position: 0 -224px;}

/*=================================== 黄金分割线：分页 ===================================*/
.next { border-right: none;}
.pageJump { margin-right: 0;}
.leftSequence { float: left; width: 80px; height: 30px; line-height: 30px; margin-left: 15px; color: #707070; text-align: center; border: 1px solid #ccc; background: #fff; cursor: pointer;}
.leftSequence:hover { color: #fff; background: #53b567;}
.collegaPage .spTips {line-height:30px;margin-left:5px;font-size:12px;color:#ff0000;}

/*=================================== 黄金分割线：选择权限 ===================================*/
.competenceBox { position: relative; display: none; border: 8px solid #7a7a7a; background: #fff;}
.addPerTop { height: 33px; line-height: 33px; padding: 0 13px; border-bottom: 1px solid #ccc;}
.addPerTop span { float: left; font-weight: bold; color: #333;}
.addPerTop .addPerClose { float: right; width: 33px; height: 33px; background: url(../images/addPer_01-01.png) no-repeat center center; cursor: pointer;}
.boxMiddle { height: 370px; border-bottom: 1px solid #ccc; overflow-y: scroll;}
.addSubmit { direction: block; width: 65px; height: 30px; line-height: 30px; margin: 24px 0 25px 30px; font-size: 12px; color: #fff; text-align: center; border: none; background: #53b567; cursor: pointer;}


/*=================================== 黄金分割线：树列表 ===================================*/
table.treetable { width: 100%; margin: 0; font-size: 12px; color: #333; border: none; border-bottom: 1px solid #ccc; background: #fff;}
table.treetable tr { height: 40px;}
table.treetable tbody tr td { border-bottom: 1px solid #ccc;}
table.treetable span.indenter { padding-right: 15px;}
table.treetable span.indenter a { vertical-align: middle;}
table.treetable tbody tr td .addCheck { width: 15px; height: 15px; margin-right: 10px; vertical-align: middle;}
table.treetable tbody tr td .addCheck:focus { border-color: #f1ca7f;}
table.treetable tbody tr td .twoListsIcon,
table.treetable tbody tr td .thrListsIcon,
table.treetable tbody tr td .lastListsIcon { display: inline-block; height: 14px; margin-top: -2px; margin-right: 10px; vertical-align: middle; }
table.treetable tbody tr td .twoListsIcon { width: 12px; background: url(../images/organization_02-01.png) no-repeat;}
table.treetable tbody tr td .thrListsIcon { width: 33px; background: url(../images/organization_02-02.png) no-repeat;}
table.treetable tbody tr td .lastListsIcon { width: 33px; background: url(../images/organization_02-03.png) no-repeat;}
.table {margin-bottom: 5px;background: #d2d2d2;font-size: 12px;text-align: left;    font-family: "sim-sun", "Geneva", "Arial", "Helvetica", "sans-serif";}
.table td{height: 24px;padding: 4px;}
.table  tr { background: #fff;}

/*0907*/
.wrapBox#posWrap .rightsCont {width:auto;}
.otherIcon li a {display:block;height:40px;}

#positionTable {width:100%;margin:20px auto;border:1px solid #ebeaea;border-bottom:none;background:#f5f6fa;}
#positionTable tr {height:40px;line-height:40px;}
#positionTable th, #positionTable td {text-align:left;border-bottom:1px solid #ebeaea;}
#positionTable th.firItem, #positionTable td.firItem {text-indent:15px;}
#positionTable th.lastItem, #positionTable td.lastItem {text-indent:0;}
#positionTable th, #positionTable tr:hover th {font-weight:700;color:#999;background:#f5f6fa;}
#positionTable th span, #positionTable th i {float:left;}
#positionTable td {color:#696969;background:#fff;}
#positionTable tr:hover td {background:#f5f6fa;}

/*1025*/
.operating-cont {position:relative;width:100%;height:100%;}
