@charset "utf-8";
/**/
.wrapBox { padding: 0 20px; background: #fff; overflow: hidden;}
.imCont { width: 1130px; margin-bottom: 80px;}
.imContTop { height: 55px; line-height: 55px; border-bottom: 1px solid #dedfdf;}
.imContTop .topTit { line-height: 14px; padding: 20px 0; color: #53b567; border-bottom: 2px solid #53b567; cursor: default;}
.topRight { height: 55px; font-size: 0;}
.topRight .addAccount, .topRight .addAccount1, .topRight .addAccount2, .topRight .addAccount3, .topRight .return { display: inline-block; width: 108px; height: 28px; line-height: 28px; margin: 13px 0 12px; font-size: 14px; color: #9e9e9e; text-align: center; border: 1px solid #ddd; background: #f7f7f7;}
.topRight .addAccount:hover, .topRight .return:hover { color: #fff; border-color: #53b567; background: #53b567;}

/*======================================== 黄金分割线 ========================================*/
.viCondition { width: 100%; height: 30px; line-height: 30px; margin: 30px 0;}
.viCondition span, .viCondition em, .viCondition input { float: left; line-height: 30px;}
.viCondition span { margin-right: 12px; color: #333;}
.viCondition .afTime { display: block; width: 158px; height: 28px; line-height: 28px; color: #a6a7a7; text-indent: 20px; border: 1px solid #ccc; background: #fff url(../images/datePicker.png) no-repeat 110px center; cursor: pointer;}
.viCondition .afTime:hover { border-color: #53b567;}
.viCondition em { margin: 0 13px; color: #393939;}
.viCondition #afTimeEnd { margin-right: 22px;}
.viCondition .visSelect { float: left; width: auto; height: 30px; line-height: 30px; color: #555; border: 1px solid #ccc; border-right: none;}
.viCondition .viInp { display: block; width: 238px; height: 28px; line-height: 28px; margin-right: 20px; font-size: 12px; color: #555; text-indent: 15px; border: 1px solid #ccc; background: #fff;}
.viCondition .viSearchBtn { display: block; width: 66px; height: 30px; color: #fff; text-align: center; border: none; background: #53b567;cursor:pointer;}

/*======================================== 黄金分割线 ========================================*/
.viMiddle { width: 100%; margin: 0 auto 20px; font-size: 12px; border: 1px solid #e1e6eb;}
#viTable { width: 100%;}
#viTable tr, #viTable th, #viTable td { height: 43px; line-height: 43px; font-size: 12px;}
#viTable tr.viHeader { background: #f5f6fa;}
#viTable tr:hover { background: #f5f6fa;}
#viTable th { color: #999; text-align: left; border-bottom: 1px solid #e1e6eb;}
#viTable th.optionsTh { text-indent: 20px;}
#viTable th.operatingTh { text-indent: 7px;}
#viTable td { color: #696969; border-bottom: 1px solid #e1e6eb;}
#viTable td.optionsThTd { text-indent: 20px;}
#viTable .confirmVisit { display: block; width: 100%; line-height: 43px; color: #53b567;}

/*======================================== 黄金分割线:客户是回库状态 ========================================*/
.backToLibrary { position: relative; width: 303px; height: 102px; padding: 40px 50px; text-align: center;}
.backToLibrary .btlTitle { width: 100%; margin-bottom: 54px; color: #333;}
.backToLibrary .btlTitle em { margin: 0 3px; color: #d32929;}
.backToLibrary .btlBtnBox { width: 100%; height: 30px; line-height: 30px;}
.backToLibrary .btlBtnBox .viReassign, .backToLibrary .btlBtnBox .viConfirm { width: 100px; height: 30px; color: #fff; border: none; cursor: pointer;}
.backToLibrary .btlBtnBox .viReassign { margin: 0 20px 0 43px; background: #c8c8c8;}
.backToLibrary .btlBtnBox .viConfirm { background: #53b567;}

/*======================================== 黄金分割线:到访客户接待提醒 ========================================*/
.receptionRemind { position: relative; width: 219px; height: 102px; padding: 40px 92px; text-align: center;}
.receptionRemind p { font-size: 13px; color: #333;}
.receptionRemind p + p { margin-bottom: 30px;}
.receptionRemind .recepBtnBox { width: 100%; height: 30px; line-height: 30px;}
.receptionRemind .recepBtnBox .viReassign2, .receptionRemind .recepBtnBox .viCancel { width: 99px; height: 30px; color: #fff; border: none; cursor: pointer;} 
.receptionRemind .recepBtnBox .viReassign2 { margin-right: 20px; background: #c8c8c8;}
.receptionRemind .recepBtnBox .viCancel { background: #53b567;}

/*======================================== 黄金分割线:操作者是本中心 ========================================*/
.theCentre { position: relative; width: 339px; height: 102px; padding: 40px 34px; text-align: center;}
.theCentre .centerTips { width: 100%; line-height: 14px; margin-bottom: 54px; color: #333;}
.theCentre .centerTips em { margin: 0 3px; color: #d32929;}
.theCentre .centerBtn { width: 100px; height: 30px; line-height: 30px; color: #fff; border: none; background: #53b567; cursor: pointer;}

/*======================================== 黄金分割线:操作者是非本中心 ========================================*/
.theNonCentre { position: relative; width: 253px; height: 102px; padding: 40px 75px; text-align: center;}
.theNonCentre p { width: 100%; color: #333;}
.theNonCentre p + p { margin-bottom: 30px;}
.theNonCentre p em { margin: 0 3px; color: #d32929;}
.theNonCentre .nonCenterBtn { width: 100px; height: 30px; line-height: 30px; color: #fff; border: none; background: #53b567; cursor: pointer;}

/*======================================== 黄金分割线:重新分配 ========================================*/
.viReassign { position: relative; width: 542px; height: 532px; padding: 10px 20px 23px;}
.viReassign .rnSearch { width: 100%; height: 32px; line-height: 32px; margin-bottom: 12px; font-size: 12px; color: #555;}
.selectbox {width:138px;margin-right: 20px;font-size:12px;height:30px;line-height:30px;position:relative;}
.selectbox dl {width:100%;border:1px solid #ccc;color:#555;margin:0;position:absolute;}
.selectbox dl.on {background: #fff;border:1px solid #ccc;overflow-y: auto;overflow-x: hidden;max-height: 150px;width: 100%;}
.selectbox dl dt {cursor:pointer;overflow:hidden;padding-left:10px;border-bottom: none;background: #fff;}
.selectbox dl dt.on {background:#e6e6e6 none repeat scroll 0 0;border-bottom:1px solid #ccc;}
.selectbox dl dd {background:#fff none repeat scroll 0 0;border-bottom:1px solid #ccc;cursor:pointer;margin:0;padding:0 10px;position:relative;z-index:5;}
.selectbox dl dd.on{border-bottom:1px solid #ccc;}
.selectbox dl dd:hover{background:#eaedf1 none repeat scroll 0 0;color:#555;}
.selectbox dl dd:last-child { border-bottom: none;}
.selectbox .arrow {background:transparent url(../images/Descending.png) no-repeat scroll 8px 12px;height:30px;width:30px;background-position-x: 8px;background-position-y: 12px;}
.selectbox .arrow_on {background:transparent url(../images/Ascending.png) no-repeat scroll 8px 12px;background-position-x: 8px;background-position-y: 12px;}
.select_title {overflow: hidden;width: calc(100% - 30px);white-space: nowrap;word-break: keep-all;text-overflow: ellipsis;}
.fxDone { display: none;}
.rnSearch .rnSearchInp { display: block; width: 198px; height: 30px; line-height: 30px; text-indent: 20px; border: 1px solid #ccc; background: #fff;}
.rnSearch .rnSearchBtn { display: block; width: 66px; height: 30px; line-height: 30px; margin-left: 20px; color: #fff; border: none; background: #53b567;}

.rnTableBox { width: 100%; height: 485px; font-size: 12px; border: 1px solid #ccc; overflow: scroll;}
#rnTable { width: 100%;}
#rnTable tr, #rnTable th, #rnTable td { height: 43px; line-height: 43px;}
#rnTable tr.rnHeader { background: #f5f6fa;}
#rnTable tr:hover { background: #f5f6fa;}
#rnTable th { color: #717171; text-align: left; border-bottom: 1px solid #e1e6eb;}
#rnTable th.rnPosition { text-indent: 20px;}
#rnTable td { color: #696969; border-bottom: 1px solid #e1e6eb;}
#rnTable td.rnPosition { text-indent: 20px;}
#rnTable .rnMang { color: #f8a840;}
#rnTable .rnXian { color: #d64242;}
#rnTable .rnConfirm { display: block; width: 100%; line-height: 43px; color: #53b567;}

/*0926*/
.viMiddle {border:none;} 
.viMiddle .viTips {margin-bottom:5px;font-size:12px;color:red;}
#viTable {border:1px solid #e1e6eb;border-bottom:none;}
#viTable tr.content_li {cursor:pointer;}











